[2020-07-31 07:49] pankajagrawal16 opened #10 "Warning during build process from aspectj-maven-plugin"
While building the lib currently we see a warning:

[code]

There should be some flag to make it stop logging warns. Its always nice with clean build logs.

[2020-07-31 10:39] pankajagrawal16 opened #12 "Biggest size of event when being logged"
What could be the biggest size of the event when it comes to logging event.

Probably worth researching a bit and add some sort of logging etc around it

Ref : https://github.com/awslabs/aws-lambda-powertools-java/pull/11#discussion_r463522131

[2020-08-17 08:55] pankajagrawal16 opened #26 "What happens if tracing is disabled and we try to use tracer ? does it fail hard ?"
What happens if tracing is disabled and we try to use tracer ? does it fail hard ?

[2020-08-17 11:13] #26 closed, assigned to nobody

[2020-08-17 11:14] pankajagrawal16 opened #28 "Change visibility of SERVICE_NAME and IS_COLD_START in LambdaHandlerProcessor"
Change visibility of SERVICE_NAME and IS_COLD_START in LambdaHandlerProcessor

[2020-08-17 12:15] msailes opened #30 "Sampling"
Add sampling for logging

[2020-08-17 12:16] #28 closed, assigned to pankajagrawal16

[2020-08-17 15:41] pankajagrawal16 opened #31 "Regression tests on log4j logging for LambdaJsonLayout"
Currently we are missing test for this and we should probably have some as starting point

[2020-08-17 15:46] pankajagrawal16 opened #33 "Java doc tests cases ?"
There is a plugin which we can include to test our java docs. Might consider using it ?

[2020-08-17 16:03] pankajagrawal16 opened #34 "Make NOT logging response and exception as default behavior for tracer"
Following same concept as logging event on logger, we should probably by default not log response and exception. Only when customer explicitly choose to.

[2020-08-18 10:47] #34 closed, assigned to nobody

[2020-08-19 08:44] #31 closed, assigned to pankajagrawal16

[2020-08-26 05:55] pankajagrawal16 opened #50 "Build failure when including aspectj-maven-plugin with runtime version java 11,12,13"
Following the setup instructions of the library and including below snippet under `<build>`section, Lambda is working with runtime Java 11. Tried with Java 10, 12 and 13 as well.

[code]

Build fails with below logs:

[code]

## Expected Behavior
Build should succeed and able to use the library utilities

## Current Behavior

Build fails with below logs:

[code]

## Possible Solution

There is [a

[2020-08-26 06:24] #33 closed, assigned to nobody

[2020-08-26 13:47] #30 closed, assigned to pankajagrawal16

[2020-08-31 14:16] michaelbrewer opened #58 "Gradle plug-in for compile-time weave (CTW)"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Please include a gradle plugin for setting up the compile-time weave (CTW). I think this would be a far more popular option than maven.

**Describe alternatives you've considered**

**Additional context**

[2020-08-31 14:39] msailes commented on #58
Hi Michael,

We'll have a look at this, thanks.

Mark

[2020-09-01 06:11] dgomesbr opened #66 "RFC: Allow filtering logEvent output"
**Is your feature request related to a problem? Please describe.**

It's not, it's an enhancement

**Describe the solution you'd like**

Considering that `logEvent` param exists over `@PowertoolsLogging`, we should provide an option include only/exclude fields from the event log record itself, as such:
* AllowedFields: Set<...> Only log items contained on the List/Set
* PreventLogFields: Set<...>:

[2020-09-01 06:16] dgomesbr opened #67 "Documentation mentions metrics, but no code is available just yet"
**What were you initially searching for in the docs?**

https://awslabs.github.io/aws-lambda-powertools-java/ mentions: "Powertools is a suite of utilities for AWS Lambda Functions that makes tracing with AWS X-Ray, structured logging and creating custom metrics asynchronously easier."

But no metric module has been published yet.

**Is this related to an existing part of the documentation? Please

[2020-09-01 06:23] dgomesbr opened #68 "RFC: Drop the @Powertools prefix from the annotations"
**Is your feature request related to a problem? Please describe.**

Java developers are used to multiple imports and naming conventions. `@Logging @Metric/Timed @Trace` and so on. By not using Powertools prefix it would adhere to style of other frameworks.

**Describe the solution you'd like**

Use shorter annotation names, as we already using this in a Lambda fashion where would simply make sense

[2020-09-01 06:34] dgomesbr opened #69 "Improve clarity and fix Docs for Logging"
**What were you initially searching for in the docs?**

- [x] Don't use `service_undefined` in Java, use Null or String.Empty.
- [x] ~~Use units to represent the percentage, clarity over the 0.1. (http://jsr-108.sourceforge.net/javadoc/javax/units/NonSI.html#PERCENT)~~ I'll review the javadocs of it to make it explicitly whether we should be using 0.01, 0.1, 10, etc.
- [x] Message, Unserializable

[2020-09-01 07:08] pankajagrawal16 commented on #67
Thanks for opening an issue @dgomesbr . We can definitely improve the docs suggesting the [metrics](https://aws.amazon.com/about-aws/whats-new/2019/11/amazon-cloudwatch-launches-embedded-metric-format/)  will coming soon.

[2020-09-01 07:16] #67 closed

[2020-09-01 12:09] jeromevdl commented on #68
+1

We write @Test, not @JUnitTest, @Bean, not @SpringBean, ... the name of a class / method / attribute must refer to the problem it tries to solve and not contain anything else. "Powertools" is in the package and that's enough.

Furthermore, tracing & logging are not consistent: PowerTracer vs PowertoolsLogger ==> Tracer & Logger would be enough (and more consistent with the python version).

I

[2020-09-01 14:04] jeromevdl commented on #68
Several thoughts we have about naming...

Using the python names (`Tracer`, `Logger`), we face a conflict with the Log4j Logger, which would result in qualified import. And it is generally painful to have qualified import (either `org.apache.logging.log4j.Logger`or `software.amazon.lambda.logging.Logger`).

A solution can be to prefix those names with 'Lambda' to stay consistent:
`LambdaLogger`, `

[2020-09-01 14:24] dgomesbr commented on #68
This is a non-issue in Java land, IDE's will solve the context, and having log4j.Logger as a qualified import would not hurt. Also, this yet another discussion, why @Logger also provides a `logger` instance to the method/class? Akin to what Lombok does;

Using substantive rather than the verb would also make more sense: `@Logger`, `@Trace`, `@Timed/@Metric` and would keep the consistency.

I disli

[2020-09-01 14:37] dgomesbr opened #80 "RFC: Provide logger instance upon using @PowertoolsLogging"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known: This will likely be renamed if #68 pass.
* Area: (i.e. Tracer, Metrics, Logger, etc.) Logger
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): (Yes/no) Yes, to all of them

## Summary
[summary]: #summary

This is a lean and clean way to provide consistency on what we require from users in te

[2020-09-01 15:14] jeromevdl commented on #68
I agree the shorter the better. Ideally it would be: `Logger`, `Tracer` and ...?  and `@Log`, `@Trace`, `@LogMetrics`
But having two Loggers will definitely be a pain for many developers. Even with the best IDE. And we want to ease things...
I let others give their opinions.

[2020-09-01 15:23] pankajagrawal16 commented on #68
We should definitely not force qualified imports especially when we know our logger utility is based on log4j which will conflict with that name. I agree with that.

I personally don't dislike having Lambda in the name and making it explicit for lambda, although I don't have strong opinions if we skip using lambda in the name.

How about usinh EnhancedLogger and @EnhancedLogging ? And agreeing on

[2020-09-01 18:00] dgomesbr commented on #68
What are the thoughts on implementing  #80? So no logging problems at all

[2020-09-01 19:08] pankajagrawal16 commented on #80
Hey @dgomesbr Thanks for opening an RFC.

I have few immediate questions/comments on this:

- Are you thinking that annotation should work like that from lombok in the sense that it should modify byte code to generate log fields for user or just exposing an api from power tool to provide access to logger instance ?
- If its the former, my concerns are how would the IDE experience look like? Lombok

[2020-09-01 19:11] pankajagrawal16 commented on #68
I replied there separately. I think this a separate issue which should be discussed and evaluated anyways together with community feedback before we go GA with this.

[2020-09-01 19:18] dgomesbr commented on #80
Fair consideration. My thoughts were if we're pushing the Json Schema, the Log4J2 as best practice, why not generate the log instance itself.

Since bytecode is generated at design time, and not runtime, also don't foresee issues with the performance.
Oth, great points on the IDE support, I guess I have mixed feelings on that.

Maybe then expose this as a member annotation? `@LoggerInstance` ?
Or

[2020-09-01 19:30] pankajagrawal16 commented on #80
`@LoggerInstance` annotation is an option but I am still doubtful on the value that it will add as the only purpose of it will be to provide logger instance and then clients are free to choose any code generators library like lombok for example. I think it at this point it deviates from our [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets) as well. At this point, I am tempted

[2020-09-01 19:46] pankajagrawal16 commented on #66
Hey @dgomesbr It definitely sounds like an interesting idea.

Could you please shed some more inputs on your thoughts here ? Like What and how you think of it behaving on nested payload etc ?

[2020-09-01 22:03] #80 closed

[2020-09-01 22:12] dgomesbr commented on #66
@pankajagrawal16 as an user concerned with data being logged, but also conscious about logging, I would like to either pass a `Predicate<? super String> predicate` where users could pass whatever predicate they want, and maybe apply at `PowertoolsLogger.java` implementation level.

Does that adds up?

[2020-09-03 11:14] msailes commented on #69
I don't think it's possible to get the alias from the context - https://docs.aws.amazon.com/lambda/latest/dg/java-context.html
Do you have any other suggestions?

[2020-09-03 11:15] msailes commented on #69
I think `service_undefined` works well here, it matches the python implementation and gives us a service name to use when we implement Metrics. We'll need a reasonable default for that core util as well.

[2020-09-03 11:17] msailes commented on #69
For sampling, I'm happy with the String / Double approach. If this was a public method I think it would be best as a unit. But because it's an environment variable I think it would only increase complexity.

[2020-09-03 17:16] dgomesbr commented on #69
This is misleading, if we don't know the name, I would assume that is better to default to the `FunctionName` or even `FunctionName:Version`, until the customer properly configures it.

`getInvokedFunctionArn()` – Returns the Amazon Resource Name (ARN) that's used to invoke the function. Indicates if the invoker specified a **version number or alias.**

I think the point here is readability, if th

[2020-09-03 18:06] heitorlessa commented on #69
W.r.t - service_undefined provides an opportunity for the customer to fix it. Service has also a deeper meaning as it acts as a namespace when looking for data across multiple functions be that logs, metrics or traces.

As to context, I don't know about Java, but in the Python context object it'll fetch a FQDN -- If it's a given published version or alias it'll be the last value <function_name>:<v

[2020-09-03 18:22] msailes commented on #69
I'd be really happy to look at a PR for adding alias information.

[2020-09-04 01:57] dgomesbr commented on #69
100%, but as soon as a customer incorporates that into multiple functions they will see service_undefined in multiple logstreams, or am I missing something? This goes hand-in-hand with tracing span naming which I'm in full agreement.

Now for the Alias, I'm seeking guidance on whether there's any logic behind or simply callee information.

[2020-09-04 04:59] heitorlessa commented on #69
That is correct - Hence the emphasis on POWERTOOLS_SERVICE_NAME in the docs
for all core utilities, including our blog post and examples.

I’d be happy to log a warning if service name is not found. I would not use
function name as the service name if not found as that will break many
workflows, and their current understanding of service being a namespace
they can search across core utilities too

[2020-09-04 08:30] msailes commented on #69
Alias as part of the context was something discussed in the aws-lambda-java-libs project.

https://github.com/aws/aws-lambda-java-libs/issues/10

You might want to continue the discussion there.

[2020-09-04 11:20] pankajagrawal16 opened #88 "Integration with CloudWatch ServiceLens"
**Is your feature request related to a problem? Please describe.**
Just like python power tools, we should be supporting integration with CloudWatch ServiceLens

**Describe the solution you'd like**

The xray_trace_id key should be added to log output when tracing is active. This enables the log correlation functionality in ServiceLens to work with applications using powertools.

**Describe altern

[2020-09-12 12:30] jeromevdl opened #92 "NoClassDefFoundError in the example using the SDK v2 and tracing (x-ray)"
Adding the sdk v2 in the pom of the example and using it in the App.java generate a NoClassDefFoundError at runtime.

**What were you trying to accomplish?**
Adding the SDK v2 and simply using it in the example generate this exception (see error logs below).

## Expected Behavior
Using the SDK v2 in the lambda function should not generate this kind of exception.

## Current Behavior
java.lang.NoCl

[2020-09-12 20:49] msailes commented on #92
I have a feeling it's the inclusion of these dependencies in the tracing module. Testing it now.

[code]

[2020-09-22 10:29] msailes opened #101 "Create a SAM template with Powertools support bake in"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

I'd like to use 'sam init' to create a java project which comes with Powertools included.

**Describe alternatives you've considered**

Maybe it should live in the SAM project? I think it would also do well here so it can be maintained in the same release cycles.

**Additional context**

A

[2020-09-22 14:33] msailes commented on #66
I was thinking about this. I think nested payloads makes this harder.

Could the user pass an implementation class name, we'd instantiate it and use it to do the filtering.

[2020-09-22 15:26] michaelbrewer commented on #58
@msailes thanks once we have this. It will be easy to incorporate this into the majority of java lambda projects using gradle.

[2020-09-23 01:45] dgomesbr commented on #101
Hey @msailes do we want a cookiecutter or a maven archetype?

[2020-09-23 08:05] msailes commented on #101
A SAM cookiecutter would be best to start with. But I'd definitely take a maven archetype as well!

[2020-09-25 19:55] #88 closed

[2020-09-27 08:43] pankajagrawal16 opened #112 "Log events of logging module does not always logs entire event"
Using log event feature of @PowetrtoolsLogging.

## Expected Behavior
When logging S3EventNotification, it should log payload.

## Current Behavior
Does not logs payload but rather just Object Hash

## Possible Solution
Use object mapper to parse the object instead of depending on toString implementation on POJO.

## Steps to Reproduce (for bugs)

Handler like:

[code]

Logs `message
com.amazonaws

[2020-09-27 11:50] pankajagrawal16 commented on #69
This should be fixed as part of #113

[2020-09-28 12:29] #112 closed

[2020-10-01 15:12] pankajagrawal16 commented on #92
Closed as part of #90

[2020-10-01 15:13] pankajagrawal16 commented on #12
No action needed here, so closing this for now.

[2020-10-01 15:13] #12 closed, assigned to nobody

[2020-10-02 09:52] pankajagrawal16 opened #119 "SQS partial batch failure"
**Is your feature request related to a problem? Please describe.**

A lambda processing a batch of messages from SQS is a very common approach and it works smooth for most use cases. Now, for the sake of example, suppose we're processing a batch and one of the messages failed, lambda is going to redrive this batch to the queue again, including the successful ones ! Re-running successful messages i

[2020-10-02 09:53] #92 closed

[2020-10-04 19:37] drissamri opened #121 "Cold start increased by 60%+ by enabling powertools-logging"
**What were you trying to accomplish?**
While testing in my sample (cold start optimized) application I can measure up to 50-60%+ increase by switching out [lambda-logging](https://github.com/symphoniacloud/lambda-monitoring/tree/master/lambda-logging) (SLF4J + Logback)

The tests are executed by leveraging [lumigo-cli](https://github.com/lumigo-io/lumigo-CLI) [measure-lambda-cold-starts](https://

[2020-10-05 06:18] pankajagrawal16 commented on #121
Hey @drissamri Thanks for opening the issue. I quickly looked at different branches, and its interesting to see this behaviour.

While as far I can see difference between branches, you have not actually use any Powertools logging feature, but rather just changed to use log4j2 instead which you offcourse get as a dependency via logging module from powertools. We actually did a performance test befo

[2020-10-05 08:25] drissamri commented on #121
After I posted this ticket I tested a few more things and saw a mistake in the implementation too (not too logging itself), if I didn't add the @Powertools annotation I must've forgot it on that branch after my tests again.

Going to circle back on the tests results later tonight. There was still a big difference after my last run, but will update the branches so you have a correct view.

[2020-10-05 14:45] #119 closed

[2020-10-05 22:39] drissamri commented on #121
There was a bug in the lumigo-cli that made the invocation not complete succesfully, so the invocation timings weren't always correct. Thanks to @theburningmonk that's fixed now.

@pankajagrawal16 I created two branches `baseline` (lambda-logging) and `powertoolslogging` and updated the full statistics for both in the README.md.

`baseline`: p95 of 200 cold start iterations: **1400-1435ms**
`power

[2020-10-06 05:48] pankajagrawal16 commented on #121
Aha, This makes sense, coz I tried replicating yesterday and found the same issue that function was failing in logs. I just ended up changing lambda function contract to work with String and just measure it based on that in both implementation.

The findings for me were bit similar as well what you have posted above. I still have to dive a bit deep to see why this might be happening.

When it come

[2020-10-06 15:08] drissamri commented on #121
After a discussion with @theburningmonk today, I realized the lumigo-cli only prints out initDuration (Initialization in X-Ray) and not Duration. This will be changed by him later on.

I don't think it matters for the statistics I posted before since the clear distinction is there in both in the Initialization alone already, but end to end should be measured to make sure one of both is not losing

[2020-10-06 18:49] pankajagrawal16 commented on #121
Yeah I have been looing at logic of cloudwatch insights query that the cli executes and I could see just looks for Init time in lambda logs.

I do agree, regardless it gives some indication anyways.

[2020-10-22 09:04] pankajagrawal16 opened #146 "Gradle setup works only with 5.x"
**More details to be added **

**What were you trying to accomplish?**

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Environment

* **Powertools version used**:
* **Packaging format (Layers, Maven/Gradle)**:
* **AWS Lambda function runtime:**
* **Debugging logs**

[code]

[2020-10-28 07:20] stevehouel commented on #68
Agreed with @dgomesbr,  IDE will resolve those naming context for us. So with that we will keep the naming conventions that we have on other packages and have a kind of consistency in our naming conventions.

So +1 for @Logger, @Tracer

[2020-10-28 09:15] pankajagrawal16 commented on #58
Closed by #147

[2020-10-28 09:15] #58 closed

[2020-10-28 09:21] michaelbrewer commented on #58
Thanks @pankajagrawal16 !

[2020-10-29 08:40] msailes commented on #68
GA is approaching, and we'd like to take this chance to change any API names before we move to v1.0.0

These are our current names. We'd like to remove `Powertools`, keep the names short and memorable. We also want to make sure not to clash with any other class we know we'll be expecting. For example we don't want to name our core logging annotation `@Logger` as it will clash with Log4j.

| Curren

[2020-10-29 14:07] drissamri commented on #121
FYI: I worked together with Yan and now the measure coldstarts CLI measures both initDuration and duration time.

[2020-10-29 19:59] dgomesbr commented on #68
Thanks Mark! Can we decide between verbs and nouns?

* Tracer, Logger, Metrics, looks better.
* Validation / Validators+Validator, don't have an well formed idea on it
* SqsLargeMessage -> LargeMessageParser ?
* BatchMessageProcessor ?

[2020-10-30 09:53] pankajagrawal16 commented on #68
Hey @dgomesbr , we don't really want to force user to do a fully qualified imports by naming annotation as `@Logger`, especially when we know utility depends on log4j2 Logger which will always force user for have qualifies import on one or the other.  Its also hard then to follow always follow a specific pattern

[2020-11-03 08:07] pankajagrawal16 commented on #68
Guess then we will go ahead an update as per proposed namings.

[2020-11-03 14:25] #68 closed

[2020-11-12 10:29] msailes opened #179 "ActiveMQ support in validation module"
**Is your feature request related to a problem? Please describe.**

Can we add ActiveMQ support in the validation module - https://github.com/aws/aws-lambda-java-libs/pull/185

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-11-13 17:38] luismospinam opened #181 "[Enhancement] SSM get parameter taking too long to retrieve a parameter."
Hello, is it normal that a simple code to get a simple SSM parameter takes over 10 seconds?

[code]

Similar code to pull a parameter from SSM takes less than a second in other languages using AWS SDK, for instance, NodeJs.

Is this a normal java behavior?

**Notes:**
- This issue is not related to the **withDecryption()** functionality, even without it the code takes the same amount of time.
- Th

[2020-11-17 09:58] vitodegiosa commented on #101
@msailes would this be possible just extracting the example/ directory from this repository and make a cookie cutter out of it?

[2020-11-17 10:10] pankajagrawal16 commented on #101
@vitodegiosa Yes that could be used as a starting point. But it will require some cleaning on terms of removing some of the extra logic and probably having separate cookie cutter project with maven and gradle

[2020-11-17 11:17] vitodegiosa opened #184 "RFC: Parameter Injection"
## Key information

* RFC PR:
* Related issue(s), if known:
* Area: Parameter
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): Yes

## Summary
[summary]: #summary

## Motivation
[motivation]: #motivation

## Proposal
[proposal]: #proposal

Annotating a String field into the Lambda handler would result into the field to be populated with the value of the referenced par

[2020-11-17 14:16] dgomesbr commented on #181
Hello Luis, can you initialize the block bellow outside the `handleRequest`, and retest?

[code]

[2020-11-17 14:25] pankajagrawal16 commented on #184
Hey @vitodegiosa Sure does sounds like a neat utility to have on top of already provided utilities for fetching secrets/ssm parameters

[2020-11-17 14:53] luismospinam commented on #181
Hello @dgomesbr , thanks for your quick reply.

Declaring the variable as **static** improved the performance, now it takes 4-5 seconds to fetch the SSM parameter.

thanks!
![image](https://user-images.githubusercontent.com/25059970/99405315-9f812080-28ba-11eb-8e63-2b9a09108321.png)

[2020-11-17 16:24] dgomesbr commented on #181
@msailes Let's review the docs to push this practices on the docs

[2020-11-17 16:44] heitorlessa commented on #181
Isn’t 4-5 seconds too high?

Any other optimisation that can be shared with customers?

On Tue, 17 Nov 2020 at 17:24, Diego Magalhães <notifications@github.com>
wrote:

[2020-11-17 17:56] pankajagrawal16 commented on #181
I will have a look at this later tonight

[2020-11-17 17:57] pankajagrawal16 commented on #181
Indeed, I will have a look at this, validate and suggest if this can be optimised in some way.

[2020-11-17 21:14] pankajagrawal16 commented on #181
It turns out during initial fetch, most of the time taken is by SSMClient itself. Next remote invocations of SSMClient is quite fast.

`Total time fetching via SSM Client` is the time spent internally by SSMClient in AWS SDK.
`Total duration powertools SSM` is time which is taken by powertools client.

![image](https://user-images.githubusercontent.com/8058415/99451112-01c13c00-2922-11eb-8353-ac60

[2020-11-17 21:42] pankajagrawal16 commented on #181
Diving a bit more into the observation above and following (this discussion)[https://github.com/aws/aws-sdk-java-v2/issues/6#issuecomment-422126377] which is on the same lines.

There are few which can be done:

- Just increasing functions memory from 512 MB to 2048 MB, Significantly reduces the initial fetch time. From ~3 seconds to less than 1 seconds.  @luismospinam This can be a thing to try o

[2020-11-17 22:01] pankajagrawal16 commented on #181
Just looked at the docs, and the example kind of already guides to initialize ssm/secret provider outside the handler method. Can we make this more explicit somehow ? 🤔

[2020-11-17 23:17] arjunpunnam commented on #181
I think declaring clients static outside the handler applies to almost every SDK client. I have experienced this with SSM, Dynamo, SQS, and SNS clients.IMO this behaviour needs to be more publicized and even better if it is enforced at the SDK level. At work, we kind of followed a factory approach where all expensive clients are initialised above the handler function and the approach has yielded g

[2020-11-19 17:32] vitodegiosa commented on #101
@pankajagrawal16 I have something ready to go. Single cookie cutter project with possibility to select maven or gradle for dependency management and including only core utilities (metrics, logging, tracing). Should I create a new repo in awslabs? Should we agree on the name of the repo? cookiecutter-aws-sam-powertools-java? Too long?

[2020-11-19 19:00] pankajagrawal16 commented on #101
@vitodegiosa Great to hear. I would recommend putting in [aws-samples](https://github.com/aws-samples?q=cookie&type=&language=) instead along with other cookiecutter templates ?

[2020-11-20 07:59] pankajagrawal16 commented on #101
When it comes to naming, I am quite ok with long names as well, as long as it follows similar naming convention like others. Finally it will be replaced with names customers choose anyways during sam init. What do you think ? @vitodegiosa

[2020-11-20 08:00] pankajagrawal16 commented on #181
@luismospinam Just wondering if you got chance to try out some of the options mentioned above ?

[2020-11-20 12:43] pankajagrawal16 commented on #146
Latest version [0.0.6](https://plugins.gradle.org/plugin/aspectj.AspectjGradlePlugin/0.0.6) of AspectjGradlePlugin works with Java 11 and Gradle 6.x.

Unfortunately it wont be supported for Java 8 since java 11 is the current LTS version. Ref [issue](https://github.com/arendd/AspectjGradlePlugin/issues/7)

[2020-11-26 17:39] pankajagrawal16 commented on #181
Default SDK clients used by library for parameters modules have been further optimized in release [v1.0.1](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.0.1). Closing this issue for now.  Thanks @luismospinam for raising the issue. :)

[2020-11-26 17:40] #181 closed

[2020-12-02 13:56] vitodegiosa commented on #184
Feature merged

[2020-12-02 13:56] #184 closed

[2020-12-02 14:53] vitodegiosa commented on #101
done https://github.com/aws-samples/cookiecutter-aws-sam-powertools-java

[2020-12-02 14:53] #101 closed

[2020-12-02 15:01] pankajagrawal16 commented on #101
Thanks for the contribution again @vitodegiosa 🙌

[2020-12-07 22:21] deepti-tyagi opened #215 "Lambda powertool SSMProvider is either increasing cold start time or unable to refresh parameters"
We may need to update some Parameter Store parameters value that are being used in Lambda Function.
If any parameter is updated while Lambda is in Warm state, it should be able to read the latest values.
I used lambda powertool SSMProvider to achieve the same inside lambda function constructor and inside the lambda handler.

The issue here is; if parameters are read inside the constructor, it does

[2020-12-09 13:28] jeromevdl commented on #215
Hi,

Thanks for reporting this.

The constructor won't be called in a warmed function, the call to SSM will be done once during cold start. So whatever the maxAge you set, it doesn't really matter, params will remain the same while the function is warmed.

In the handler, with your code I had the following results:
cold start: 3+ seconds (~3400 ms)
warm start: single-digit ms (~2-3 ms)
warm start

[2020-12-09 17:08] superwese opened #218 "compileTestAspect can't compile Classes with static fields"
**What were you trying to accomplish?**
I have a class that resembles a respository. In this class a have a
[code]

In my tests, I am trying to access this field to set a system property:
[code]

when I run the tests I get this error from the compileTestAspect :
[code]

This is not happening in the compileAspect task, that produces the production code.
Is there anything I can do that the AspectJ p

[2020-12-10 13:20] superwese commented on #218
a workaround I found for that ist to run
[code]
before running the test.
This way the source code is already compiled and AspectJ at least doesn't pick up the production code.
Test classes are still affected.

[2020-12-10 22:49] deepti-tyagi commented on #215
Thanks @jeromevdl for taking out some time for this.
Yes, I agree cache does help to improve performance during warm state.

As a workaround, we can also force a cold restart on Lambda function by changing an environment variable whenever there is an update on SSM parameter. We can also avoid additional cold start time using this approach.

My question is, does it impact any existing lambda invoca

[2020-12-10 23:08] jeromevdl commented on #215
Functions currently running are not impacted by an update, they will finish with current version/configuration.

[2020-12-11 16:54] deepti-tyagi commented on #215
Thanks @jeromevdl for confirming.

[2020-12-15 18:55] pankajagrawal16 commented on #215
@deepti-tyagi I believe we can close this issue for now based on above discussion. Thanks for using powertools. Feel free to open an issue in case of any questions/issues/feedback. :)

[2020-12-15 18:55] #215 closed

[2020-12-15 18:57] pankajagrawal16 commented on #69
@dgomesbr Can this issue be closed now based on some of the discussions above? 🤔

[2020-12-16 21:54] dgomesbr commented on #69
For sure. Thank you all!

[2020-12-16 21:54] #69 closed

[2020-12-18 15:17] RobertoC27 opened #229 "RFC: Support for lambda extensions"
**Is your feature request related to a problem? Please describe.**
I' currently using lambda extensions for starting an external process and tried to implement  powertools' logging and metrics modules into it, however they did not work.

**Describe the solution you'd like**
Powertools recognizing that it is inside lambda environment to emit metrics and format logs.

**Describe alternatives you've

[2020-12-18 17:14] pankajagrawal16 commented on #229
Hey, @RobertoC27 Thanks for opening the RFC. We will have to give it some thoughts on what would be the best way to support this but indeed it would be good to have this working inside extensions as well.

[2020-12-21 21:52] RobertoC27 opened #231 "Set default values for tracing utilty parameters"
**Is your feature request related to a problem? Please describe.**
Changing the default captureResult param for the tracing utility to "false" would make my life easier, given that most of my methods require having it turned off because it causes errors while interacting with other services.

**Describe the solution you'd like**
It would be nice to be able to set the captureResult property for the

[2020-12-22 11:22] heitorlessa commented on #231
Would an environment variable help here?

That way you wouldn't change your code, and yet override the default -- it's something we've been thinking for the Python Powertools, at least.

For our own learning, could you share more on what services you're working with that this breaks?

We know S3 is one of them

[2020-12-22 14:01] RobertoC27 commented on #231
Yes, env vars make sense for this! I'm working with Cloudhsm, using the JCE. Curious that you mention S3, since that has not given us any issues with capture response.

[2021-01-04 09:19] pankajagrawal16 commented on #231
Agreed, the environment variable will probably be best here following how other utilities behave as well.

[2021-01-06 10:08] pankajagrawal16 commented on #231
I looked a bit into the implementation aspect of this. Few immediate thoughts, Since Java annotation won't allow `Boolean` as an attribute type, we might have to take the annotation way. In order to distinguish if its a default value or user has specified it before honoring any specific environment variable, we need something which is not primitive like true/false.

Practically, that would mean so

[2021-01-08 16:41] RobertoC27 commented on #231
you are right, for us this would be a breaking change. no doubt but in the end it leads to a cleaner code.
Am i understanding this is how it would be or am i wrong?
[code]

[2021-01-08 19:04] pankajagrawal16 commented on #231
Yeah like this, except that the `mode` value is an enum and strongly typed instead of a String.

Also, the default value will be `ENVIRONMENT_VAR ` which will default capture response and error to `true` if no environment variable specified. This practically means, if users today are using the default configuration, they won't need to change anything.

If users want to change the default behavior,

[2021-01-08 20:06] RobertoC27 commented on #231
one final question, is there going to be 1 env var per behavior?

[2021-01-08 20:15] pankajagrawal16 commented on #231
Yeah, At least that's how I have thought about it so far [here](https://github.com/awslabs/aws-lambda-powertools-java/compare/master...tracing-caputre-modes#diff-26c6b1069f1cea5fed77ab5ee80ffa916fadee0889b6c99a53ee2122738ec8c3R35)

[2021-01-08 21:01] RobertoC27 commented on #231
makes sense, since combining them would make more complex overriding them down the line.

[2021-01-13 13:25] pankajagrawal16 commented on #231
Hi @RobertoC27 , This is now available in [v1.2.0](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.2.0). Do try out and let us know in case of any feedback/issues.

[2021-01-13 13:25] #231 closed

[2021-01-13 13:27] pankajagrawal16 commented on #218
Hi @superwese Thanks for reporting the issue. I will have a look at this sometime this week.

[2021-02-01 15:21] RobertoC27 commented on #231
Hey @pankajagrawal16
We finally got to migrate our lambdas to this new version and its is working with no issues so far, thanks!

[2021-02-01 20:39] pankajagrawal16 commented on #231
Hey @RobertoC27, Great to hear!

[2021-02-10 11:54] asmith-r7 opened #275 "Ability to disable logevent for test or inject object mapper instance"
**Is your feature request related to a problem? Please describe.**

During testing, I've been passing a mock s3Event to the handler, this causes powertools logging to attempt to deserialize this but jackson throws an exception as it can't for a mock which leads to huge stack traces in the test logs.

`Failed logging event of type class com.amazonaws.services.lambda.runtime.events.S3Event$MockitoMo

[2021-02-10 12:05] pankajagrawal16 commented on #275
Hi @asmith-r7

I understand the problem you are facing. Perhaps rite now you might have to pass a valid event to make it work.

At this point, I am thinking perhaps we can let users override the default object mapper instance via an environment variable instead of having something to toggle the logging behavior.

So having something like `DEFAULT_OBJECT_MAPPER` which can be used to override defaul

[2021-02-10 15:04] asmith-r7 commented on #275
Hi, thanks for the response. I was able to work around the problem by doing as you suggested. I remember the last time I had looked into creating an S3Event from a json file I had ran into problems but it looks like since then a testing library was released and it solves the problem 🎉 :
https://github.com/aws/aws-lambda-java-libs/tree/master/aws-lambda-java-tests

The only disadvantage to this app

[2021-02-11 08:00] pankajagrawal16 commented on #275
Great to hear that you got it working now with valid event object. In a way its good to unit test things with a valid event object to avoid getting surprises in staging or production environment. But, I do understand mocks can be convenient for iterating faster.

I will leave this issue open for now and probably expose an api to let clients override object mapper as well which can probably complim

[2021-02-14 22:15] allenada opened #277 "@Logging annotation with logEvent = true does not play nice with @Tracing annotation in RequestStreamHandler"
I am using Lambda Powertools Java to capture logs, metrics, and traces for my REST service running in Lambda. I am using RequestStreamHandler to forward ApiGateway request to a JerseyLambdaContainerHandler containing handling for my various endpoints proxied by ApiGateway.

Using ``@Logging(logEvent = true)``  and ``@Tracing`` together causes the ``JerseyLambdaContainerHandler`` to not process the

[2021-02-15 06:00] pankajagrawal16 commented on #277
HI @allenada Thanks for opening an issue with detailed information. I will have a look at it sometime this week.

[2021-02-16 04:59] allenada commented on #277
I did have some time to take a deeper look into this myself. Looks like if you change [LambdaLoggingAspect.java#L78](https://github.com/awslabs/aws-lambda-powertools-java/blob/master/powertools-logging/src/main/java/software/amazon/lambda/powertools/logging/internal/LambdaLoggingAspect.java#L78) to the following then the issue is resolved (at least in my local unit test):

[code]

[2021-02-16 05:10] pankajagrawal16 commented on #277
I did managed to replicate the issue and also understand the problem, which exists only if you are using input stream version of handler together with tracing and logging together.

I haven't find a proper solution yet, but I will check the solution which you mentioned as well and also dive a bit more deeper this week.

In the meantime(while we fix this) I am sure there must be reasons on using st

[2021-02-19 11:04] qtdzz opened #285 "Metrics are not flushed when lambda handler throws an exception"
**What were you trying to accomplish?**
I am trying to publish metrics even when the lambda handler fails. Apparently, metrics won't be flushed if the handler throws exception: https://github.com/awslabs/aws-lambda-powertools-java/blob/master/powertools-metrics/src/main/java/software/amazon/lambda/powertools/metrics/internal/LambdaMetricsAspect.java#L62

## Expected Behavior

Metrics are flushed r

[2021-02-19 11:52] pankajagrawal16 commented on #285
Hey @qtdzz , Thanks for opening an issue with detailed info.

As far as I can remember, this was done on purpose to not capture metrics during exception. Can't exactly remember the reasoning behind that. That being said, I quickly checked the behavior for [aws-lambda-powertools-python](https://github.com/awslabs/aws-lambda-powertools-python) as well and it turns out, it captures metrics regardless

[2021-02-20 17:43] pankajagrawal16 commented on #66
I have created a PR which will let clients override the default object mapper used for serializing the event. This will also let client decide and how and what they want to log the event. https://github.com/awslabs/aws-lambda-powertools-java/pull/287

@dgomesbr I believe we can close this issue based on this ability as well.  Thoughts?

[2021-02-21 03:59] dgomesbr commented on #66
LGTM

[2021-02-23 13:44] asmith-r7 opened #293 "isDebugEnabled() returning false when debug enabled through env var"
I have several sections in my debug wrapped in the logger.isDebugEnabled()
What I noticed is that setting the log level to debug through the env var LOG_LEVEL causes these log lines not to appear. This seems like a bug to me.

## Expected Behavior

isDebugEnabled should return true.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. Configure logging via config to be

[2021-02-25 10:16] humanzz opened #297 "[Metrics] Improvements to Powertools Metrics"
**Is your feature request related to a problem? Please describe.**
The following requests are based on a recent experience I had using Powerttools Metrics having used https://github.com/awslabs/aws-embedded-metrics-java in different projects before and the workarounds we had to implement and hoping they should be taken care of by Powertools so we can move our older projects to Powertools and have

[2021-02-25 10:18] msailes commented on #297
Thanks for this great feedback!

[2021-02-25 10:28] humanzz opened #298 "Spotbugs issues when using Powertools"
My team has a Gradle setup in our Lambda. We have Spotbugs enabled and failing our builds on finding issues. Once we added the Powertools dependencies Spotbugs picked up a few code issues in Powertools which I'm reporting below.

**What were you trying to accomplish?**
Use Powertools Logging, Metrics and Tracing.

## Expected Behavior

Build to succeed without issues once dependencies were include

[2021-02-26 14:07] pankajagrawal16 commented on #297
Really great feedback @humanzz , If you are happy to contribute, we will be more than happy to take above suggestions. If not,  I will spend some time next week incorporating some of those.

[2021-02-27 06:28] pankajagrawal16 commented on #297
withSingleMetric should also add the requestId property

I believe since we expose logger object as a Consumer function, clients of the API have access to it and thus can always set requestId or any other related property on for the emf logger.

[2021-02-27 07:24] pankajagrawal16 commented on #293
Thanks @asmith-r7 For reporting the issue. I did some digging and Can see that the LOG_LEVEL env variable gets overridden by system property back to INFO.

Which means that either we will have to find another name for our environment variable to be something like `POWERTOOLS_LOG_LEVEL` instead.

or we will have to support it via java tool options via

 `JAVA_TOOL_OPTIONS: -DLOG_LEVEL=INFO. `

In t

[2021-02-27 07:32] pankajagrawal16 commented on #293
Something like this https://github.com/awslabs/aws-lambda-powertools-java/compare/log-level?expand=1

[2021-02-27 12:20] humanzz commented on #297
Thanks everyone. Really appreciate the prompt actions on addressing the feedback.

@pankajagrawal16
I've left you a comment on https://github.com/awslabs/aws-lambda-powertools-java/pull/305
I do get the concern around over complicating things with the last quoted paragraph. I wouldn't call this a must have, it's easily achievable on user-side by wrapping the `MetricsUtils` if some users want to us

[2021-02-27 12:41] pankajagrawal16 commented on #297
I agree with the thoughts. Default dimension part is something which I will have a look at next. This has been one of items that I have wanted to fix for a while already and now that we have community feedback as well around it, I sure will.

[2021-03-01 13:11] pankajagrawal16 commented on #297
I believe most of these suggestion are incorporated except for point 3

[2021-03-01 13:45] humanzz commented on #297
Awesome progress. Thanks a lot @msailes and @pankajagrawal16

I have a couple of comments to add
1. Re #3 (the ability to remove the default dimensions)
    - @msailes mentioned it might be a good idea to open an issue for EMF library to consider dropping those default dimensions - or simply add them as properties
    - My feeling is that this will likely take sometime. Meanwhile, the ability to o

[2021-03-01 13:48] pankajagrawal16 commented on #297
Makes sense, Since Logging already had those fields, it will make sense to just reuse the same names for metrics module. I will fix that before new release

[2021-03-01 13:49] pankajagrawal16 commented on #297
Yeah rite, thats the next thing which I plan to look at next. It might be a good idea to open a issue on EMF lib as well so that we can simplify powertools implementation once its natively available as well

[2021-03-01 13:49] humanzz commented on #297
My personal taste would be for the new names used in metrics to be honest but it's not a big deal if we don't go with that option

[2021-03-01 13:50] pankajagrawal16 commented on #297
Yeah, But in order to avoid this being a break change for logging clients, it makes sense to reuse the same for metrics lib.

[2021-03-01 13:53] humanzz commented on #297
I agree - from a compatability point of view - but I still do think the new names are slightly better so I wonder if we can either/or
1. Emit both and mark something as deprecated for a few versions
2. Have a separate issue to track these names for an upcoming major version that might introduce breaking changes

Regardless, unification is that thing we should go for.

[2021-03-02 06:02] pankajagrawal16 commented on #277
I am planning to revisit this issue sometime this week.

[2021-03-02 06:05] #10 closed

[2021-03-05 13:56] #298 closed

[2021-03-05 13:57] pankajagrawal16 commented on #298
Available in [1.3.0](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.3.0) now

[2021-03-05 13:58] pankajagrawal16 commented on #297
@humanzz Most of the stuff is available in [1.3.0](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.3.0) now. I will keep this open for fixing the last bit on default dimensions.

[2021-03-05 13:58] pankajagrawal16 commented on #293
Available in [1.3.0](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.3.0) now

[2021-03-05 13:58] #293 closed

[2021-03-05 13:58] pankajagrawal16 commented on #285
Available in [1.3.0](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.3.0) now

[2021-03-05 13:58] #285 closed

[2021-03-05 13:58] pankajagrawal16 commented on #275
Available in [1.3.0](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.3.0) now

[2021-03-05 13:58] #275 closed

[2021-03-05 13:59] pankajagrawal16 commented on #66
Available in [1.3.0](https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.3.0) now

[2021-03-05 13:59] #66 closed

[2021-03-08 17:58] humanzz commented on #297
That's great, about the dimensions @pankajagrawal16
Will you also support overriding to set no dimensions?

[2021-03-08 18:01] pankajagrawal16 commented on #297
Not at this point. Since this is a core validation which is present in python version as well and if we allow it then we have to do it across. So best will be to open a separate RFC for it.

[2021-03-09 13:45] heitorlessa commented on #297
Powertools Python folks here ;) -- EMF Spec originally had a dimension as a minimum otherwise metrics weren't created and failed silently --- That is not the case anymore.

As of last Friday, we've released Lambda Powertools Python 1.11 removing the validation of a minimum one dimension.

[2021-03-09 13:46] pankajagrawal16 commented on #297
Thanks for confirming that Heitor, That means I will update it for java as well in the same PR.

[2021-03-09 13:48] humanzz commented on #297
Happy times :-)

[2021-03-10 02:05] gyoga99 opened #320 "Build failed - Could not find artifact com.sun:tools:jar"
I added mvn plugin and dependencies as documented here.

https://awslabs.github.io/aws-lambda-powertools-java/utilities/sqs_large_message_handling/

I am using  `AdoptOpenJDK (build 11.0.8+10)`

I am getting this error when I run `mvn package`

Execution default of goal org.codehaus.mojo:aspectj-maven-plugin:1.11:compile failed: Plugin org.codehaus.mojo:aspectj-maven-plugin:1.11 or one of its depe

[2021-03-10 04:50] pankajagrawal16 commented on #320
Hi @gyoga99 I believe this is because of already referenced issue https://github.com/awslabs/aws-lambda-powertools-java/issues/50

Try using plugin as documented in issue.

[code]

instead of

[code]

This is also reference in our docs here https://awslabs.github.io/aws-lambda-powertools-java/#install, but I do see that we can probably improve the docs to make it more explicit for all the utilitie

[2021-03-10 13:16] pankajagrawal16 opened #322 "Add correlation_id support similar to python powertools"
**Is your feature request related to a problem? Please describe.**

Similar to python version, add support for capturing correlation id https://github.com/awslabs/aws-lambda-powertools-python/pull/321

https://github.com/awslabs/aws-lambda-powertools-python/issues/9

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-11 00:30] gyoga99 commented on #320
Thanks @pankajagrawal16!
That issue got resolved now.
When I running my unit test class. I am seeing `java.lang.NoClassDefFoundError` for `SqsLargeMessageAspect.class`
Dependencies added in pom.xml-
    <dependency>
      <groupId>software.amazon.lambda</groupId>
      <artifactId>powertools-sqs</artifactId>
      <version>1.3.0</version>
    </dependency>
    <dependency>
      <groupId>com.amazo

[2021-03-11 14:49] pankajagrawal16 commented on #320
Hmm this is Strange, What does you pom.xml looks like? Possible to share here ?

[2021-03-11 15:57] gyoga99 commented on #320
I see this warning during `mvn clean package`

=========================================
[INFO] Showing AJC message detail for messages of types: [error, warning, fail]
[WARNING] bad version number found in /.m2/repository/org/aspectj/aspectjrt/1.9.6/aspectjrt-1.9.6.jar expected 1.9.2 found 1.9.6
        <unknown source file>:<no line information>

[WARNING] advice defined in software.amazon.lambd

[2021-03-12 17:55] pankajagrawal16 commented on #297
All of the suggestions are available in 1.4.0 now

[2021-03-12 17:55] #297 closed

[2021-03-14 14:13] humanzz commented on #297
Thanks a lot @msailes and @pankajagrawal16

Thanks a lot for addressing all of this. I actually have some follow up comments on `MetricsUtils.defaultDimensionSet` which I did not notice when the PRs were going.
1. I like the idea that now there's a way to set a default for the dimensions from `@Metrics` and `withSingleMetric`
2. However, I think there's still some room for improvement here
    a.

[2021-03-14 14:16] pankajagrawal16 commented on #297
I believe I agree to allow multiple. By the way, you can just pass new DimesnsionSet() and that should set it with no dimensions

[2021-04-16 15:33] andavies opened #369 "Unable to use SQS Large Message Handling with Gradle"
I have an AWS Lambda function that receives an SQSEvent. I need to enable support for large messages that are stored in S3.

I'm following the instructions here: https://awslabs.github.io/aws-lambda-powertools-java/utilities/sqs_large_message_handling/
I'm using Gradle, so I add this to my build.gradle as described:

` dependencies {
    ...
    implementation 'software.amazon.lambda:powertools-sq

[2021-04-21 17:25] heitorlessa commented on #369
cc @msailes @pankajagrawal16 @jeromevdl could take a look into this, please?

[2021-04-22 03:57] pankajagrawal16 commented on #369
Hi @andavies ,

Apologies for delay in response. I have been out sick but now recovering.

I pushed a [sample gradle repo]( https://github.com/pankajagrawal16/Sqssample/blob/main/HelloWorldFunction/src/main/java/helloworld/App.java) which is using SQS module as well.  It is using java 11 and gradle 6.  This is how my [build.gradle](https://github.com/pankajagrawal16/Sqssample/blob/main/HelloWorldF

[2021-04-22 04:03] pankajagrawal16 commented on #320
Hi @gyoga99

Did you manage to solve this? You pom entries looks correct. Also the warning that you are seeing is strange, coz this should have worked.

Since this warning seems to be coming from your unit test, can you try adding below test scoped dependency to your pom  as well ?

[code]

[2021-05-14 01:27] pankajagrawal16 opened #394 "Ability to remove custom key from logger via LoggingUtils"
Hi all,
I have a question (or maybe a suggestion) about the power-tools-logging and pardon me if this is not the right place for this question.
I recently come across this Lambda Power logging and its feature of changing the logging level via environment variable is a useful one for us.
When I try to use it, I have coded to clear the custom key-pair values with ThreadContext.remove() and ThreadCon

[2021-05-14 01:28] pankajagrawal16 commented on #369
Hi @andavies ,

Hope this works for you now?

[2021-05-14 01:29] pankajagrawal16 commented on #320
Hi @gyoga99

Did you manage to solve this?

[2021-05-30 11:15] qtdzz opened #409 "MetricsUtils.withSingleMetric doesn't publish powertools default "Service" dimension"
**What were you trying to accomplish?**
I want to use `MetricsUtils.withSingleMetric` to publish a single metric with additional dimensions without affecting dimensions of other metrics. The single metric should also have the same default powertools dimension as other metrics when I don't overriding the default dimensions.
## Expected Behavior

The single metric should have the default "Service" d

[2021-05-31 08:25] pankajagrawal16 commented on #409
Hey @qtdzz Thanks for opening the issue, I will have a look at this later today.

[2021-05-31 12:33] pankajagrawal16 commented on #409
@qtdzz  I have read through the details of this issue now. Some thoughts.

- This was intentionally not supported. So its not a specifically a bug.
- While I do believe it will be a good user experience, but there are some challenges implementing it. As of today with `@Tracing` annotation and its behaviour of setting default dimension as `Service`, below is the order of precedence:

1. Check for d

[2021-05-31 12:36] pankajagrawal16 commented on #369
Hi @andavies,

Did you get around testing it again?

[2021-05-31 12:37] pankajagrawal16 commented on #320
Hi @gyoga99,

Wondering if the issue is solved now?

[2021-05-31 15:52] gyoga99 commented on #320
@pankajagrawal16 I have not tried this. Will try and update you.

[2021-05-31 15:55] qtdzz commented on #409
Thank you @pankajagrawal16 for looking into the issue and the information. Now I get the challenging part.

I assume you are talking about the `@Metric` annotation.

As far as I understand, the steps you described  to resolve default powertools dimension are all in [`LambdaMetricsAspect.refreshMetricsContext`](https://github.com/awslabs/aws-lambda-powertools-java/blob/master/powertools-metrics/src

[2021-05-31 19:24] andavies commented on #369
Hi, thanks for this. I haven't tested it yet as I ended up writing my own
solution and moving on, but I will test this tomorrow morning.

On Mon, 31 May 2021, 13:37 Pankaj Agrawal, ***@***.***> wrote:

[2021-05-31 20:39] gyoga99 commented on #320
Resolved this error. The issue was with mocking.

Thanks!

[2021-05-31 20:39] #320 closed

[2021-06-01 14:41] andavies commented on #369
Ok so I took the following from your build.gradle and put it into my own...

[code]

[code]

and I get the error `You must set the property 'aspectjVersion' before applying the aspectj plugin`.

Thank you for your help - I'm sure there's a fix to this error as well, but honestly it's just not worth me spending any more time trying to fix it - I made a little workaround that avoids having to use po

[2021-06-02 08:06] pankajagrawal16 commented on #409
Apologies, Yeah I meant `@Metrics` annotaion.

Implementation is not an issue, we might support it. At this point I am wondering if it's too much assumptions to make for the users. And since this is a core utility, i will be much interested in learning what python folks think about this support.

@heitorlessa May be you missed this one, thoughts?

[2021-06-02 11:07] heitorlessa commented on #409
We did or nay internationally - single metric is for customers looking to
create a single metric that would differ from dimensions and other metrics
already set.

I’m totally onboard to have an additional parameter within single metric to
include service dimension and/or default dimensions too —- this however
begs the question as to why you’d want both service and default dimensions
in this case v

[2021-06-02 11:13] pankajagrawal16 commented on #409
Makes sense, There are no changes to UX. The `withSingleMetric ` APIs remains the same just that it will make some assumptions and automatically capture `Service` as dimension based on what's defined in environment var/at annotation level/default dimension.

But it makes sense, that since this probably changes to behavior of core utility, I will create a roadmap item and start discussion there

[2021-06-02 11:23] heitorlessa commented on #409
I’d suggest not doing that but making an opt-in behaviour.

Adding dimension based on these assumptions not only creates side effects
but it’ll also lead to higher costs on their bill - Adding a dimension
effectively creates another Metric as it’s a tuple (metric+dimension)

On Wed, 2 Jun 2021 at 13:13, Pankaj Agrawal ***@***.***>
wrote:

[2021-06-02 11:25] pankajagrawal16 commented on #409
Yeah makes sense, Opt in is better.

[2021-06-02 11:27] pankajagrawal16 commented on #369
Ok thanks for the feedback. I will close this issue for now.

[2021-06-02 11:27] #369 closed

[2021-06-09 13:05] qtdzz commented on #121
Hi @drissamri and @pankajagrawal16, may I ask if there is any update on this issue? Is it still a problem in v1.5.0? The reported version seems to be in a beta version a while ago. Many thanks!

[2021-06-09 22:28] dmahapatro opened #421 "feat: Support for Boolean and Number type as value in TracingUtils putAnnotation"
**Is your feature request related to a problem? Please describe.**
I came across a minor feature missing in `TracingUtils`. [XRay SDK](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-java-segment.html#xray-sdk-java-segment-annotations) supports recording annotations as:

 - Keys – Up to 500 alphanumeric characters. No spaces or symbols except underscores.
 - Values – Up to 1,000 Unicode

[2021-06-14 11:24] as2d3 opened #428 "Ability to distinguish Temporary and Permanent Exceptions in SQS Batch Processing"
**Is your feature request related to a problem? Please describe.**
While processing SQS messages in batch, I want to distinguish between Temporary and Permanent Exceptions so that in case of temporary failures, message return to the main queue and in case of permanent failure, it moves to either DLQ or deleted completely as per the requirement.

**Describe the solution you'd like**
Simple conversi

[2021-06-14 11:32] pankajagrawal16 commented on #121
hi @qtdzz There was some optimizations done before going GA to the logging module, not specifically targeting this specific issue.

[2021-06-14 17:08] dmahapatro commented on #322
I believe `correlation_id` will also help adding feature similar to [stop infinite loop middleware](https://github.com/getndazn/dazn-lambda-powertools/tree/master/packages/lambda-powertools-middleware-stop-infinite-loop)

[2021-06-19 08:39] as2d3 opened #437 "Add exponential back-off with jitter in SQS Batch Processor in case of temporary errors"
**Is your feature request related to a problem? Please describe.**
We use SQS Batch processing for Powertools and some message fails, it stays in the queue until it is received enough times that it moves to DLQ instead. The gap between processing of this failed message is equal to or greater than the SQS's set visibilityTimeout. We can override this visibilityTimeout at failure events for individu

[2021-06-21 07:54] pankajagrawal16 commented on #421
Available in https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.6.0

[2021-06-21 07:54] #421 closed

[2021-06-21 07:54] pankajagrawal16 commented on #394
Available in https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.6.0

[2021-06-21 07:54] #394 closed

[2021-07-01 15:02] humanzz opened #452 "[Feature Request][Bug?] Request-scope LoggingUtils setting of keys"
**Is your feature request related to a problem? Please describe.**
My team uses Powertools core utilities (Logging, Metrics and Tracing) in one of our Lambda functions.
In that, we rely on `LoggingUtils.appendKeys` and `metricsLogger().putProperty` to append specific request-related key/value pairs that improve our ability to debug issues and run adhoc queries using CloudWatch Logs Insights.

We'v

[2021-07-01 15:42] humanzz commented on #452
I've had a look at both Java and Python versions documentation
- Java: https://awslabs.github.io/aws-lambda-powertools-java/core/logging.html#appending-additional-keys
- Python: https://awslabs.github.io/aws-lambda-powertools-python/latest/core/logger/#appending-additional-keys

The python version's documentation is clear about the expected behaviour but also provides a way to achieve the behaviou

[2021-07-01 16:12] pankajagrawal16 commented on #452
Thanks for opening the issue and findings. I will bring in feature parity with python version 👍🏼

[2021-07-01 21:20] pankajagrawal16 commented on #452
@humanzz Here you go! https://github.com/awslabs/aws-lambda-powertools-java/pull/453

[2021-07-01 21:28] humanzz commented on #452
This is great! Thanks a lot for the quick action @pankajagrawal16

A small question, this should work even if `LoggingUtils.appendKeys` call is made outside of the handler function, right? As along as it's within the same thread (`ThreadContext`), right?

[2021-07-01 21:36] pankajagrawal16 commented on #428
Hi @as2d3 Thanks for opening the feature request. I am wondering what would the UX be like? If I understand correctly, Intention here is to predict which of the exceptions thrown while processing an event is temporary or permanent?

Since API don't control what is the logic inside implementation of `SqsMessageHandler`, it's difficult to predict for the library which ones are permanent/temporary.

[2021-07-01 21:39] pankajagrawal16 commented on #452
Yes it will work either way, since we are clearing the MDC context of log4j

[2021-07-04 05:59] as2d3 commented on #428
Hi @pankajagrawal16, currently SQS Batch processing throws only `SQSBatchProcessingException`. Basically, I am two new exceptions instead of this old one, something like `SQSBatchProcessingTemporaryException` and `SQSBatchProcessingPermanentException`.

So, currently I have implemented my own exceptions like these:
[code]
and
[code]

My SQS processor throws `NotificationValidationException` and `M

[2021-07-05 11:43] pankajagrawal16 commented on #428
Thanks for the response @as2d3. I understand what is the intent of the feature request now.

That being said, it will be too much assumption on behalf of library to classify which of the errors/exceptions should be retried and which one should not be. That's why we provide generic implementation with `SQSBatchProcessingException ` wrapping all the details of exception which is thrown by user provi

[2021-07-05 12:19] as2d3 commented on #428
I just wanted to present an example, design could be something else. What I really want from the library is to provide an easy way to move the failed message directly to DLQ instead of moving it back to the main queue. I think this is a very useful use-case and (imho) is a must feature of an SQS consumer library.

Library does not need to define temporary and permanent exceptions I would say, but

[2021-07-05 12:44] pankajagrawal16 commented on #428
Rite, I definitely agree with that. It will be an excellent feature to be supported as part of this utility.

[2021-07-05 19:23] #452 closed

[2021-07-05 19:23] #322 closed

[2021-07-16 16:07] argenstijn commented on #229
Currently when using this AWS tool within quarkus (2.0.2 with graalv 21.1) you get the following exception:

see why software.amazon.awssdk.core.retry.backoff.FullJitterBackoffStrategy got initialized use --trace-class-initialization=software.amazon.awssdk.core.retry.backoff.FullJitterBackoffStrategy

Which is caused by the fact that initialize the default SqsClient even if you override it later.

[2021-07-16 16:09] argenstijn opened #472 "Lazy loading of default SQSClient in order to make it work in quarkus /graalvm native"
**Is your feature request related to a problem? Please describe.**
Use powertools within quarkus 2.0.2 and graalvm 21.1

**Describe the solution you'd like**
Currently when using this AWS tool within quarkus (2.0.2 with graalv 21.1) you get the following exception:

`Error: Classes that should be initialized at run time got initialized during image building:
 software.amazon.awssdk.core.retry.back

[2021-07-16 18:50] vigneshtdev opened #473 "Provide basic functionality like measuring time/success/failure count for function through @Metrics annotation"
**Is your feature request related to a problem? Please describe.**
I would like to know time taken & success/failure ration for a service call from lambda function.

**Describe the solution you'd like**
Currently Metrics annotation only supports capturing cold start, it would be really if we can get time/success/failure count for the method being executed(similar to DCM/DLM :)). Along with this,

[2021-07-19 07:51] pankajagrawal16 commented on #473
Hi @vigneshtdev Thanks for opening the issue. Since this belongs to core utility Metrics, I would like to hear thoughts from Python folks as well. Moving this to roadmap for further discussion.

@heitorlessa Thoughts on this? Adding built in support for Metrics annotation/decorator to capture success/failure/duration metrics conditionally like cold start

[2021-07-19 09:25] pankajagrawal16 commented on #472
Hi @argenstijn Thanks for opening the issue. Reason we initialise this static so that it can be done during function init phase of lambda execution model.

Is there a way to configure graalvm not to complain about it (without knowing much about graalvm ecosystem currently)? Something on the similar lines? https://stackoverflow.com/questions/60654455/how-to-fix-try-avoiding-to-initialize-the-class-

[2021-07-20 08:43] argenstijn commented on #472
Of course:

--initialize-at-run-time=software.amazon.lambda.powertools.sqs.SqsUtils

[2021-07-25 20:56] drissamri commented on #121
I went ahead and tried it again with the latest version of the powertools (1.7.1) . I had to add `jackson-core` and `jackson-annotations` which wasn't the case before? Was it considered to use jackson-jr instead of jackson? (as recommended by [docs](https://docs.aws.amazon.com/sdk-for-java/latest/developer-guide/lambda-optimize-starttime.html))

Sadly, the results are worse than before :(
baseline

[2021-07-26 14:07] pankajagrawal16 commented on #472
Yeah I agree. I will configure it to lazy load, just wanted to see first that its not a blocker to make it run with graalv and there is a workaround the error.

[2021-07-26 15:47] pankajagrawal16 commented on #121
Hi @drissamri Thanks for following up on this again.

I have taken some time again today to understand what's going on between different implementations.

Starting with your question on jackson-core and annotation missing. This has not changed. Reason why this is failing in your sample project is because `jackson-jr-objects` is bringing inn older version of jackson core with it and that confilcts

[2021-07-26 18:03] argenstijn commented on #472
Thanks. And it works in quarkus.

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Pankaj Agrawal ***@***.***>
Sent: Monday, July 26, 2021 4:07:29 PM
To: awslabs/aws-lambda-powertools-java ***@***.***>
Cc: argenstijn ***@***.***>; Mention ***@***.***>
Subject: Re: [awslabs/aws-lambda-powertools-java] Lazy loading of default SQSClient in order to make i

[2021-07-27 13:34] pankajagrawal16 commented on #121
Done minor tweaks to logging utility as well https://github.com/awslabs/aws-lambda-powertools-java/pull/484. Based on comparison and also difference in number of cold starts in metrics, I feel comfortable not doing anything more.

I have had a look at default log4j2 config and it is optimal for the lambda workload already. Users always have ability to configure log4j2 the way they need like using

[2021-08-03 09:37] pankajagrawal16 commented on #472
Fixed in https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.7.2

[2021-08-03 09:37] #472 closed

[2021-08-03 09:37] pankajagrawal16 commented on #50
fixed in https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.7.2

[2021-08-03 09:37] #50 closed

[2021-08-03 09:38] pankajagrawal16 commented on #121
Some improvements shipped in https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.7.2 as well. I will wait for @drissamri thoughts before closing it.

[2021-08-17 19:52] scottmk opened #504 "Unit Tests are missing from the project"
The README has the following text:

But there is no such folder `HealloWorldFunction/src/test`

**What were you trying to accomplish?**

## Expected Behavior
There should be a `HealloWorldFunction/src/test` folder with unit tests

## Current Behavior
There is no such folder that I can find

## Possible Solution
Add the unit tests to the repository, if they exist, or remove the Unit Test section fr

[2021-08-17 20:39] pankajagrawal16 commented on #504
Hi @scottmk,

Thanks for opening the issue. The example project is deprecated and probably will be removed from the project. Its sometimes used for internal troubleshooting if needed.

If you are looking for sample project implementing powerools, I will recommend to create one via

[code]
Also documented here: https://awslabs.github.io/aws-lambda-powertools-java/#install

This way you will get the

[2021-08-19 12:35] pankajagrawal16 opened #507 "Cold start captured as false when using together with Tracing"
When using Tracing annotation on method level and not just handler method, cold start flag on log are always captured as false

## Expected Behavior

Cold start flag should be captured correctly on logs

## Current Behavior
captured as false always

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Environment

* **Powertools version used**:
* **Packaging format (Layers, Mave

[2021-08-20 09:56] pankajagrawal16 commented on #504
I am closing this for now. Probably we will be removing the example project from the repo and have a separate example repo on aws-samples

[2021-08-20 09:56] #504 closed

[2021-08-23 11:07] pankajagrawal16 opened #515 "Idempotency utility support similar to python version"
**Is your feature request related to a problem? Please describe.**

Idempotency utility support similar to python version https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/idempotency/

**Describe the solution you'd like**
Idempotency utility support similar to python version https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/idempotency/

**Describe alte

[2021-09-22 13:50] bbatpp opened #551 "Changing log level using env var"
We have a logger that extends org.apache.logging.log4j.core.Logger, and are using PowerTools Logging. The behaviour of the logger is inconsistent when you modify the Power Tools environment variable.

**What were you trying to accomplish?**

When we modify the environment variable  to change the log level. It does not completely work. When we call log methods such as log(), info(), debug(), trace(

[2021-09-27 12:27] pankajagrawal16 commented on #551
Hi @bbatpp Thanks for reporting the issue. I will have a look at this.

[2021-09-27 21:33] bdkosher opened #558 "Java-based cfn-response module"
**Is your feature request related to a problem? Please describe.**
There's a [cfn-response module](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-lambda-function-code-cfnresponsemodule.html) to support Lambda-backed AWS CloudFormation custom resources, but it's only available for Node and Python runtimes.

**Describe the solution you'd like**
A cfn-module equivalent for Java.

[2021-09-28 08:47] msailes commented on #558
I think this would be helpful to customers, and it would save them a task.

Even better if we could then update the docs.

[2021-09-28 10:20] heitorlessa commented on #558
cc @richardhboyd in case that's been discussed before somewhere else

[2021-10-04 11:01] pankajagrawal16 commented on #551
Hi @bbatpp I tried replicating the issue and it seems to work fine in the sample application that I have. Meaning .isDebugEnabled return correct value.

Could it be an idea for you to just try what the behavior is when you set it to true in your application?

[2021-10-04 11:02] #507 closed

[2021-10-04 11:03] pankajagrawal16 commented on #121
@drissamri Let me know if you have any thoughts on above findings ? Or else i will close this issue for now.

[2021-10-04 12:10] pankajagrawal16 commented on #277
@allenada This should be fixed with #567

[2021-10-27 07:47] qtdzz opened #596 "Feature request: Better failures handling while using both BatchProcessing and LargeMessageHandling"
**Is your feature request related to a problem? Please describe.**

While using both BatchProcessing and LargeMessageHandling on a lambda, there could be a case when the lambda failed to download the large payload from S3, hence it would fail the whole batch before it could even reach the batch processor. The result is that we have to reprocess/redownload the whole batch, even though most of the m

[2021-10-27 07:52] qtdzz opened #597 "Feature request: Allow setting a custom S3 client when using LargeMessageHandling"
**Is your feature request related to a problem? Please describe.**
Currently the large message handler uses default AmazonS3 client to download client. It means the lambda execution IAM role must have S3 read permissions. The problem is when the S3 bucket is owned by another owner, they provide us the access via an IAM role and ask us to assume that role to read S3 content. Right now, we can't pas

[2021-11-02 07:36] qtdzz opened #603 "Feature request: support large payload messages received from SNS"
**Is your feature request related to a problem? Please describe.**
Currently, `@SqsLargeMessage` only supports large messages which are sent directly from SQSExtendedClient, i.e: `SQSExtendedClient -> SQS -> Lambda`.

A common use case I've seen is subscribing the SQS to an external SNS topic where the topic could have large payload message as well, i.e. `SNSExtendedClient -> SNS -> SQS -> Lambda`

[2021-11-05 15:17] pankajagrawal16 commented on #597
Released as part of https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.8.0

[2021-11-05 15:17] #597 closed

[2021-11-05 15:20] pankajagrawal16 commented on #277
Release as part of https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.8.0 @allenada

[2021-11-05 15:20] #277 closed

[2021-11-25 17:03] mlefebvre-deblecx opened #630 "Using Maven Lombok and Aspect doesn't compile"
When trying to run mvn package the project that include some Aspect (ex: powertool-logging) and also using lombok as dependency break the compilation.

**I'm trying to use the powertool with lombok**

## Expected Behavior
Should not break the build, or have something in the documentation that explains how to make them work together

## Possible Solution
Add documentation explaining how to fix it,

[2021-11-26 11:22] msailes commented on #630
Hi, do you have a public project which reproduces the problem?

[2021-11-26 13:25] mlefebvre-deblecx commented on #630
@msailes Just do a `mvn clean package` of this project:

https://github.com/mlefebvre-deblecx/powertools-lombok

If we do a mvn package just after it seems to fix the bug, but it comes back after a clean and for bigger project it does fix it.

[2021-12-15 09:34] pankajagrawal16 opened #654 "Tracing: add service value annotations"
**Is your feature request related to a problem? Please describe.**
Original issue: https://github.com/awslabs/aws-lambda-powertools-python/issues/850

When troubleshooting a larger app, service annotation would've made it easier to slice the service map in X-Ray. Similarly, ColdStart annotation is only added when there is a cold start - having false would be great to quickly analyze sampled reques

[2021-12-15 14:23] pankajagrawal16 commented on #551
Hi @bbatpp Any more insights into this issue?

[2021-12-15 14:29] bbatpp commented on #551
I changed where we instantiate the logger to pass true instead of false.

LoggerContext ctx = LogManager.getContext(cls.getClassLoader(), true);

This resolved the issue, I think what was happening is, that my lambda was
connected to the parent context. So when you changed the log level with the
lambda's environment variable, it was actually affecting the parent context
(AWS), rather than my lambd

[2021-12-19 17:25] michaelbrewer commented on #146
And it does not work at all with Gradle 7+

[2021-12-20 15:16] VictorJuliani opened #663 "Support batches with > 10 messages"
**Is your feature request related to a problem? Please describe.**

Yes. For a while now, it's possible to receive batches with more than 10 entries in Lambda ([ref](https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html#:~:text=Batch%20size%20%E2%80%93%20The,Service%20API%20Reference.)). However, the calls from [SendMessageBatch](https://github.com/awslabs/aws-lambda-powertools-java/blob/mast

[2021-12-21 14:59] pankajagrawal16 commented on #146
Yeah I need to dive a bit deeper into this and see how we can get it to work with gradle 7+

[2021-12-21 15:01] pankajagrawal16 commented on #146
All gradle 5 and 6 related issues should now be fixed with using latest version of AspectGradlePlugin with version 0.0.7 https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.9.0

[2021-12-21 15:01] pankajagrawal16 commented on #654
Added in https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.9.0

[2021-12-21 15:01] #654 closed

[2021-12-21 15:06] pankajagrawal16 commented on #663
Thanks for opening the issue. I believe we made a similar fix in python powertools as well. I will look into fixing it this week.

[2021-12-21 15:11] heitorlessa commented on #663
We’ve just added support yesterday for the new native partial response that
is a much better alternative now

https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/batch/

I’ve documented the mechanics, events, responses and I posted the details
on the RFC too (on roadmap repo)

On Tue, 21 Dec 2021 at 16:07, Pankaj Agrawal ***@***.***>
wrote:

[2021-12-21 15:16] pankajagrawal16 commented on #663
Yeah. This one is for Java which does not have the new batch implementation yet :p .. but this is a bug/limited functionality in older util

[2021-12-21 15:24] heitorlessa commented on #663
Yeah, for the older one we still have to fix that too - we have a PR at an
okay stage but we’re fixing it for the next release.

We’ll add a warning for them to move
To the new one as their cost and latency will decrease too

On Tue, 21 Dec 2021 at 16:16, Pankaj Agrawal ***@***.***>
wrote:

[2021-12-21 15:26] pankajagrawal16 commented on #663
Ah ok.. so thats not merged yet in python as well. Good to know. I will look if I can get this fix out first and then plan for newer version post that.

[2021-12-21 16:41] pankajagrawal16 commented on #663
Related python issue https://github.com/awslabs/aws-lambda-powertools-python/issues/824

[2021-12-25 15:15] pankajagrawal16 commented on #551
Ok makes sense. In that case I will close the issue for now. Feel free to open new issue/reopen this in case of further issues. @bbatpp

[2021-12-25 15:15] #551 closed

[2021-12-25 15:15] pankajagrawal16 commented on #630
@msailes We you looking into this issue? Any further insights what is happening ?

[2021-12-27 10:24] pankajagrawal16 commented on #663
Available in https://github.com/awslabs/aws-lambda-powertools-java/releases/tag/v1.10.0

[2021-12-27 10:24] #663 closed

[2021-12-29 15:48] kozub commented on #630
Hey @msailes, I quickly checked an issue that you've raported. Looks that it is not directly related to aws-lambda-powertools-java. The main issue there is related to using Aspectj with Lombok, as both of them needs to add some `secret sause` during the compilation. You can use technic that is called weaving.

I've tried code that you'd provided (thanks for that!) and after changing plugin config

[2021-12-30 01:07] allenada opened #673 "Lambda Powertools @Tracing failures due to leveraging XRAY SDK internal ObjectMapper"
Currently the `@Tracing` annotation of Powertools writes to XRAY subsegment using XRAY SDK. Tracing the code of XRAY back to the source, it leverages this internal instance of Jackson's [ObjectMapper](https://github.com/aws/aws-xray-sdk-java/blob/master/aws-xray-recorder-sdk-core/src/main/java/com/amazonaws/xray/entities/EntityImpl.java#L61-L65) in the `EntityImpl` class

This has caused me two pr

[2021-12-30 20:32] msailes commented on #673
Hi @allenada,

Thanks for the bug report. I'll have a look at it in the new year.

Thanks,

[2022-01-04 09:32] msailes commented on #630
@pankajagrawal16 I imagine this case will be fairly common, should we update the docs to include it?

I'm not sure where we'd put it.

[2022-01-04 11:30] kozub commented on #630
@pankajagrawal16 @msailes  - Does it make any sense to add FAQ  / other new section to docs for that kind of issues?

[2022-01-04 13:20] msailes commented on #630
@kozub I think so, would you be in a position to submit a PR?

[2022-01-04 18:11] kozub commented on #630
Sure, I can do it. I will do my best to provide required changes tomorrow.

[2022-01-05 03:39] michaelbrewer commented on #146
@pankajagrawal16 still not working for me? Could we try https://docs.freefair.io/gradle-plugins/5.0.1/reference/#_aspectj instead?

[2022-01-05 05:34] pankajagrawal16 commented on #146
Hey, this is the plugin which I was going to look into, but i am not working this week, so will check once back.

[2022-01-05 05:36] michaelbrewer commented on #146
@pankajagrawal16 @msailes - i have created a PR to potentially fix the gradle plugin used for AspectJ

- https://github.com/arendd/AspectjGradlePlugin/pull/9

[2022-01-05 13:21] pankajagrawal16 commented on #146
@michaelbrewer It works with freefair gradle plugin. I have validated it and change is pretty simple. Would you mind validating it as well ? I am thinking we can officially update our docs to used free fair instead coz it seems to be actively maintained and works on gradle 5,6 and 7 as well

[2022-01-05 13:26] pankajagrawal16 commented on #146
This is what my sample build.gradle looks like for a sample hellp world gradle app via

`sam init --location gh:aws-samples/cookiecutter-aws-sam-powertools-java`

[code]

[2022-01-05 14:37] pankajagrawal16 commented on #146
Docs and cookiecutter projects are now update to use the new config which should work for all gradle versions 5, 6 and 7.

cc @michaelbrewer Closing this now, Let me know if you face any issues.

[2022-01-06 10:57] asmith-r7 opened #681 "When is the next release with log4j 17.1 planned?"
Hey, I see you have patched log4j in master. I am just wondering if you are planning to cut a release anytime soon. We have a number of lambdas which we would like to patch and being able to just bump this library would be the simpler approach.

[2022-01-06 11:36] msailes commented on #681
Hi @asmith-r7,

This will be done today.

Thanks,

[2022-01-06 11:39] asmith-r7 commented on #681
Awesome, thanks.

And thanks for the great library!

[2022-01-06 16:55] msailes commented on #681
This is now available on maven central.

[2022-01-06 16:55] #681 closed

[2022-01-06 17:10] pankajagrawal16 commented on #630
Its available here now https://awslabs.github.io/aws-lambda-powertools-java/FAQs/

[2022-01-06 17:11] pankajagrawal16 commented on #630
@mlefebvre-deblecx Let us know if this helps and fixes the issue you were facing. thanks @kozub for contribution.

[2022-01-06 17:11] #630 closed

[2022-01-07 13:09] #673 closed

[2022-01-07 13:57] heitorlessa commented on #673
Look at this bot nicely tidying up now @pankajagrawal16

[2022-01-10 02:52] michaelbrewer opened #702 "Gradle: Set java target level in cookiecutter and docs"
**What were you trying to accomplish?**

Building the gradle project using jdk 17

## Expected Behavior

Project should compile with target level of java 11 or java 1.8

## Current Behavior

Sam template example fails

[code]

## Possible Solution

Update gradle example

[code]

## Steps to Reproduce (for bugs)
1. `sam init --location gh:aws-samples/cookiecutter-aws-sam-powertools-java`
2. Select

[2022-01-10 20:14] #702 closed

[2022-01-10 20:16] pankajagrawal16 commented on #702
Thanks for spotting and fixing the docs and config @michaelbrewer

[2022-01-10 20:19] michaelbrewer commented on #702
hopefully java 17 runtime is coming out soon :)

[2022-01-11 08:07] pankajagrawal16 commented on #515
@jeromevdl Is working on this now.

[2022-01-13 12:26] hasan-imam commented on #515
Is there an ETA for this? We prepared a similar implementation to make our functions idempotent and we're planning to apply on a bunch of our systems. But we'd rather adopt the one coming from power-tools than our homemade version; they look pretty similar.

Also would it be possible to emit some metrics around number of requests de-duped, various error counts etc.?

[2022-01-13 12:29] pankajagrawal16 commented on #515
@jeromevdl has started looking into it.

This can be an interesting thing to support. @heitorlessa What do you think? Has it been discussed for python one?

[2022-01-13 14:58] michaelbrewer commented on #146
@pankajagrawal16 - FYI my  PR for [aspectj.AspectjGradlePlugin](https://github.com/arendd/AspectjGradlePlugin/pull/9) was merged

[2022-01-13 15:26] pankajagrawal16 commented on #146
woho.. nice.. then probably we have two ways of configuring gradle project. I am still in favor of keeping freefair now since its much more active.

[2022-01-13 15:31] michaelbrewer commented on #146
Yep, i agree, when i tried freefair initially i could not verify locally it was working (only when deployed)

[2022-01-17 09:56] pankajagrawal16 opened #711 "Guidance on using powertools annotations with Kotlin projects"
**What were you initially searching for in the docs?**

Guidance on how to make Aspect annotations from powertools work with kotlin projects.

**Is this related to an existing part of the documentation? Please share a link**

https://awslabs.github.io/aws-lambda-powertools-java/#install

**Describe how we could make it clearer**

**If you have a proposed update, please share it here**

Add steps o

[2022-01-27 23:38] GuyJackson opened #726 "Provide working maven example"
I'm trying to trial Powertools in my demo project (specifically around logging).

I've copied [this pom](https://github.com/awslabs/aws-lambda-powertools-java/blob/master/example/HelloWorldFunction/pom.xml) in your example repo and get a series of issues in my demo project - when I package (`mvn clean package`) and upload the produced jar to aws.

**1.**  Cloudwatch error - Exception when using `p

[2022-01-27 23:44] GuyJackson opened #727 "Explain gotchas related to testing and @Tracing"
When adding Lambda Powertools Java to my project and I have annotated my handler method with `@Tracing`.

When a basic unit test is run I get an error "_SegmentNotFound"_.

I think you may be able to create a segment in a test like `AWSXRay.beginSegment("handleRequest")` but that is not what I want to be doing.

It would be helpful if the documentation could explain what to do in this testing scen

[2022-01-28 01:27] orozcoadrian commented on #726
I've seen some of these errors as well. Looks like that `example` folder in the repo has not been kept up-to-date with recent documentation changes. In the meantime you could try following the docs instead of that sample code: https://awslabs.github.io/aws-lambda-powertools-java/

In the end was able to get both a maven and a gradle lambda working by following the docs.

[2022-01-28 08:42] GuyJackson commented on #726
Thanks @orozcoadrian that was my original first point of call. Adding the following the [install steps](https://awslabs.github.io/aws-lambda-powertools-java/#install) then adding the example[ log4j2.xml](https://awslabs.github.io/aws-lambda-powertools-java/core/logging/#initialization) into resources, resulted in me getting this error in the Cloudwatch logs:

Since getting the above error, I had a

[2022-01-28 10:13] pankajagrawal16 commented on #726
Hi @GuyJackson Which version of powertools are you using ?

[2022-01-28 10:15] pankajagrawal16 commented on #726
I would also recommend using quick start template documented here https://awslabs.github.io/aws-lambda-powertools-java/ to get a sample maven or gradle app.

Note, Support for `JsonTemplateLayout ` was introduced in version [v1.10.0](https://awslabs.github.io/aws-lambda-powertools-java/changelog/#1100-2021-12-27)

[2022-01-28 10:17] pankajagrawal16 commented on #726
Also as @orozcoadrian pointed, please avoid referring `example` folder within the project. We will soon be moving it out of the project itself.

[2022-01-28 10:32] GuyJackson commented on #726
@pankajagrawal16 thanks for the reply, I'm using `1.10.2` version of powertools. I missed the cookie cutter in the docs:

`sam init --location gh:aws-samples/cookiecutter-aws-sam-powertools-java`

Will see what that produces.

[2022-01-28 10:39] pankajagrawal16 commented on #726
Cool, Let us know how it goes. :)

[2022-01-28 20:20] VictorJuliani opened #729 "Send messages to the DLQ before deleting from SQS"
**Is your feature request related to a problem? Please describe.**

I came across a problem where messages were failing and throwing exceptions, but they weren't sent to the DLQ. They were consumed as successful.

After investigation, I found out that the DLQ#SendMessage call from PowerTools was failing due to a missing KMS permission in my lambda.

That caused some messages to be lost from the qu

[2022-01-28 21:06] GuyJackson commented on #726
running:

`sam init --location gh:aws-samples/cookiecutter-aws-sam-powertools-java`

I get errors on windows and linux (on different machines).

Windows errors:

[2022-01-29 14:42] pankajagrawal16 commented on #729
Thanks for opening the issue @VictorJuliani . fair points.

[2022-01-29 14:44] pankajagrawal16 commented on #727
Definitely, `AWSXRay.beginSegment` is needed for test cases. Fair point regarding documentation, we can update docs to make it but more clear

[2022-01-31 11:41] pankajagrawal16 commented on #726
Hmm , this seems odd. I cannot seem to replicate this issue on mac atleast. Do you have any more logs to share?

[2022-01-31 13:34] pankajagrawal16 opened #732 "Move examples from project to aws-samples / aws-lambda-powertools-examples"
**What were you initially searching for in the docs?**

[example](https://github.com/awslabs/aws-lambda-powertools-java/tree/master/example) folder in project is not upto date and is hard for users to see full working examples of different utilities provided by project. Presence of folder just adds confusion.

Move all the examples to https://github.com/aws-samples/aws-lambda-powertools-examples/t

[2022-02-01 09:41] #729 closed

[2022-02-01 12:04] pankajagrawal16 commented on #727
Hey @GuyJackson , Docs are now updated to with recommendations for testing. https://awslabs.github.io/aws-lambda-powertools-java/core/tracing/#testing-your-code

[2022-02-01 12:04] #727 closed

[2022-02-01 12:20] GuyJackson commented on #727
Great thank you @pankajagrawal16 will the recommendations a go.

[2022-02-01 12:38] GuyJackson commented on #726
@pankajagrawal16 My colleague who has a Mac also confirmed it to be working (like you) and shared the generated project with me. I have a suspicion it's perhaps just a windows / linux issue but will share logs when I have looked at it a bit further.

Using the generated project shared by my colleague, one thing I did notice was the same issue with this line in `App`:

`Logger log = LogManager.getL

[2022-02-01 15:20] pankajagrawal16 commented on #711
Updated in FAQ section now https://awslabs.github.io/aws-lambda-powertools-java/FAQs/#how-can-i-use-powertools-with-kotlin-projects

[2022-02-01 15:20] #711 closed

[2022-02-01 15:23] pankajagrawal16 commented on #726
Ok great that you got it working. Regarding error on initializing logger, its totally fine to provide class explicitly if log4j is not able to figure it out itself.

I suspect this issue https://stackoverflow.com/questions/52953483/logmanager-getlogger-is-unable-to-determine-class-name-on-java-11 might be related with your project.

Feel free to close the issue if all is good.

[2022-02-15 16:47] joanbonilla opened #750 "RFC: Aurora streams handler to process Kinesis events"
## Key information

* RFC PR:
* Related issue(s), if known:
* Area: Aurora Postgresql streams
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): Yes

## Summary

Processing database activity streams from Amazon Aurora in AWS Lambda requires heavy lifting work to process the events from kinesis (encryption, serializing, ...).

## Motivation

Improve the developer experie

[2022-02-15 17:44] pankajagrawal16 commented on #750
Thanks @joanbonilla For opening the RFC. I am wondering at this point, if it would be worth it combine the efforts and actually make it part of new batch utility which we are starting to work upon as part of this RFC for java too https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/64

[2022-02-16 11:21] pankajagrawal16 opened #752 "Consistent log keys across all runtimes"
**Is your feature request related to a problem? Please describe.**

Python and Typescript use snake_case for all outputs.  Java uses a mix of snake_case and camel_case.

 Customers will use the same tool (CloudWatch Logs, Loggly, Datadog, etc.) to search data across logs, and if main keys are different they will find half of the information when using multiple runtimes.

At the sametime, if we bre

[2022-02-17 08:18] #515 closed

[2022-02-17 19:19] dmahapatro opened #758 "Different behavior while using SSMProvider"
I have stored `/DEV/APP/CLIENT/KEYSTORE/PASSWORD`  and `/DEV/APP/CLIENT/TRUSTSTORE/PASSWORD` in SSM Param Store, with secure strings as value.

I am retrieving them in Lambda function as:

[code]

## Expected Behavior
The expected behavior is that the keys as shown above `KEYSTORE/PASSWORD` and `TRUSTSTORE/PASSWORD` should be present

## Current Behavior
While debugging, I found the keys to be as

[2022-02-17 19:31] pankajagrawal16 commented on #758
@jeromevdl Would you have some bandwidth to look into this issue ? Look like a bug to me.

[2022-02-17 20:44] jeromevdl commented on #758
Thanks @dmahapatro for this issue.

I think it's an issue in the Java SDK because we're just using the standard builder:

`GetParametersByPathRequest request = GetParametersByPathRequest.builder().path(path)...`

Using the AWS CLI, both with and without trailing slash work, but not with the Java SDK. We can probably remove the trailing slash if there is one.

[2022-02-18 14:47] driverpt opened #761 "Use jackson-jr where possible"
**Is your feature request related to a problem? Please describe.**
Coldstarts in Lambda

**Describe the solution you'd like**
Use of `jackson-jr` for faster startup time

**Describe alternatives you've considered**
N/A

**Additional context**
It's recommended by AWS the usage of `jackson-jr` where possible in the [Documentation](https://docs.aws.amazon.com/sdk-for-java/latest/developer-guide/lambd

[2022-02-19 18:32] pankajagrawal16 commented on #179
Should be addressed in https://github.com/awslabs/aws-lambda-powertools-java/pull/757/files

[2022-02-19 18:38] pankajagrawal16 commented on #761
Thanks for opening this issue @driverpt.  It will definitely be great to use jackson-jr instead. As of now, there will be other libraries which which end up importing jackson anyways, but if powertools itself can stop using it, is something definitely worth evaluating.

[2022-02-19 18:40] driverpt commented on #761
Can't we just include a shaded copy of Jackson JR instead of having External Dependency? Similar to what was already done in AWS SDK for Java V2 ?

[2022-02-19 19:36] driverpt opened #764 "GraalVM Support for Core Utilities (Logging, Metrics, Tracing)"
**Is your feature request related to a problem? Please describe.**
We want to make Lambdas faster by turning them into native code.

**Describe the solution you'd like**
Add `reflect.json` or similar to `META-INF` to make it Native compatible

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-02-21 09:49] msailes commented on #764
Hi @driverpt

Can you let us know what errors you're seeing?

Thanks,

Mark

[2022-02-23 10:48] kozub commented on #732
Hey @pankajagrawal16  - I will take care of migrating examples that are still in this repository:

[code]

[2022-03-01 08:56] pankajagrawal16 commented on #732
Thanks for bringing this to completion @kozub 🙌

[2022-03-01 08:56] #732 closed

[2022-03-01 11:35] #758 closed

[2022-03-03 20:54] saragerion opened #779 "docs: change project name to "AWS Lambda Powertools for Java""
## Description of the improvement

**Summary of the proposal**

Change project name being referenced from these versions:

- AWS Lambda Powertools (Java)
- Lambda Powertools Java
- AWS Lambda Powertools Java

To this:
AWS Lambda Powertools for Java

**[See related RFC for more information](https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/80)**

**How, where did you look for informat

[2022-03-09 12:09] kozub commented on #779
Hey Team! I will take care of this issue.

[2022-03-16 08:39] pankajagrawal16 opened #797 "RFC WIP: New batch processor for new native partial response (SQS, DynamoDB, Kinesis, Aurora Stream(?))"
## Key information

* RFC PR: n/a
* Related issue(s), if known: n/a
* Area: Batch
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): Yes

## Summary
A new generic batch processing utility, which can process records from SQS, Kinesis Data Streams, and DynamoDB streams, and handle reporting batch failures.

## Motivation

With the launch of support for [partial batch resp

[2022-03-16 08:40] pankajagrawal16 commented on #797
@machafer will start to look the implementations and the UX.

[2022-03-23 16:07] jeromevdl commented on #779
No more AWS Lambda Powertools Java or similar, we can close this one.

[2022-03-23 16:07] #779 closed

[2022-03-23 16:10] jeromevdl commented on #179
Indeed (https://github.com/awslabs/aws-lambda-powertools-java/blob/eb2bb39954c0c2c52b90954ba627747264f4fd8a/powertools-validation/src/main/java/software/amazon/lambda/powertools/validation/internal/ValidationAspect.java#L95), was cover with #757 (as well as RabbitMQ)

[2022-03-23 16:10] #179 closed

[2022-04-04 10:17] hamid646m opened #816 "MessageDigest is not thread safe and for the same input, it can generate different hash"
`MessageDigest` is not thread safe, therefore if there are multiple requests in quick succession, different hash is returned for the same input.

Consequently, idempotent contract is broken and requests are treated as new for the same IdempotentKey

## Expected Behavior
For the same IdempotentKey, same hash must be generated.

When generating Hash value, a new instance of `MessageDigest` should be

[2022-04-04 10:22] hamid646m commented on #816
we could also used [DigestUtils](https://commons.apache.org/proper/commons-codec/apidocs/org/apache/commons/codec/digest/DigestUtils.html) which is thread-safe

[2022-04-08 13:33] pankajagrawal16 opened #825 "Log4j2 and Lambda runtime issue which fails logger util in some scenario"
**What were you initially searching for in the docs?**

This issue is created via discussions as part of https://github.com/aws-samples/aws-lambda-powertools-examples/issues/67

**Is this related to an existing part of the documentation? Please share a link**

https://awslabs.github.io/aws-lambda-powertools-java/core/logging/

**Describe how we could make it clearer**

- Update docs and samples to

[2022-04-08 13:36] pankajagrawal16 commented on #825
Thanks to [rieckpil](https://github.com/rieckpil) for reporting this. @[Klosephi](https://github.com/Klosephi) will have a look at fixing the docs, FAQ and other bits

[2022-04-09 17:00] jeromevdl opened #827 "RFC: Use AppConfig Extension in Parameters module"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: (i.e. Tracer, Metrics, Logger, etc.) Parameters
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): (Yes/no) that's a question

## Summary
Add integration with AppConfig through the AppConfig Extension.

## Motivation

The parameters module in Powertools for Java does not provide AppCo

[2022-04-15 14:08] mtwrocky opened #835 "NoSuchMethodError using SqsLargeMessageAspect and PayloadS3Pointer"
It basically has disabled our ability to submit events over 256KB

**What were you trying to accomplish?**

## Expected Behavior
Running a test with upgrading from 1.4.0 to 1.12 powertools-sqs we hit this issue.
The expected behavior is the test should pass.

## Current Behavior
Runtime error

## Possible Solution
I think the change would be to change SqsLargeMessageAspect line 71 to match what th

[2022-04-21 07:39] #816 closed

[2022-04-21 07:40] pankajagrawal16 commented on #835
Thanks for reporting this @mtwrocky . I will have a look at this.

[2022-04-21 07:49] pankajagrawal16 commented on #835
Hey @mtwrocky , Does your Lambda function project also depends on payloadoffloading-common library? It seems these two conflicts. Powertools in itself does not require payloadoffloading-common anymore, so is there a reason why project depends upon it?

[2022-04-21 10:32] mtwrocky commented on #835
The only place that we are using it that I am aware of is using it within
the power tools. I am not that great with gradle, I was trying to figure
out how to suppress one of the PayloadS3Pointer but could not figure it
out.
Correct me if I am wrong but I believe AWS sdk 2.X has dependencies on the
payload-common.

Thanks for the response. It is greatly appreciated.

-Toe

On Thu, Apr 21, 2022 at 2

[2022-04-22 07:45] pankajagrawal16 commented on #835
Ok I understand. I would be very interested in learning from where payloadoffloading-common dependency is being pulled in. As far as I can see, V2 SDK, does not directly depend upon it but might be its pulling it inn transitively. Would it be possible for you to look at dependency tree for the project? If the project does not use it, then the issue should be fixed by excluding it. That being said,

[2022-04-22 10:51] mtwrocky commented on #835
Sorry I stated the piece It is in the SQS Extended client lib
https://frontbackend.com/maven/artifact/com.amazonaws/amazon-sqs-java-extended-client-lib/2.0.2
under the compile dependencies.

Thanks

On Fri, Apr 22, 2022 at 2:46 AM Pankaj Agrawal ***@***.***>
wrote:

--
Toemas Wersinger
Cell: 612.986.0049

[2022-04-22 10:54] pankajagrawal16 commented on #835
Ok i understand, so does the application/consumer lambda function need to depend on   SQS Extended client lib ?

[2022-04-22 23:20] mtwrocky commented on #835
Yes we are using sqs extended 2.0.2. (AmazonSQSExtendedClient,
ExtendedClientConfig)
-Toe

On Fri, Apr 22, 2022 at 5:54 AM Pankaj Agrawal ***@***.***>
wrote:

--
Toemas Wersinger
Cell: 612.986.0049

[2022-04-29 04:49] #835 closed

[2022-04-29 12:29] jeromevdl opened #855 "(internal) GitHub build fails when using git-revision-date plugin in mkdocs"
After the apparition of a [cve](https://github.blog/2022-04-12-git-security-vulnerability-announced/) and a correction pushed by git, we had an [error](https://github.com/actions/checkout/issues/766) when building the doc:

A git command (`git log -n 1 --date=short`) is issued by the _git-revision-date_ plugin (see [here](https://github.com/zhaoterryy/mkdocs-git-revision-date-plugin/blob/dead44ba4

[2022-05-13 10:04] AdamBien opened #865 "RFC: Logging: Support serialisation of Map into JSON"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: Logger
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): Yes

## Summary
[summary]: #summary

Provide out-of-the-box serialisation of Map<String,String>.of("KEY","VALUE") to System.out as JSON.

## Motivation
[motivation]: #motivation

Projects are using MicropProfile metrics (and so

[2022-05-13 11:10] jeromevdl commented on #865
Hey Adam,

Thanks for submitting this RFC. I'm not sure to get everything. You are talking about different things that I'm not sure how they are related...

You mention the MicroProfile metrics, do you mean the `@Time`, `@Counted`, ... annotations?

You also speak about logging and serialization, but I'm not sure what is the link with the above, and also why it should be done in Lambda Powertools.

[2022-05-14 05:29] AdamBien commented on #865
More MetricRegistry: https://www.adam-bien.com/roller/abien/entry/creating_domain_specific_metrics_on

To create counters in CloudWatch insights, I only need a simple way to write a single (or a few) key-value pairs System.out.

Yes, but I only need a subset. I also don't like to configure log4j / yaml templates just to write simple key-value to System.out (Keep it lean), like e.g. https://www.ada

[2022-05-25 09:50] Neuw84 commented on #761
Hi,
I would like to contribute to the project. Quite good experience with Java and Lambda specifically from my previous role.
Could I work on this?

[2022-05-30 12:09] jeromevdl commented on #865
I can see many different things here: logging (with system.logger), metrics (with microprofile) and still nothing to do with the title of the RFC... May I ask you to open multiple RFCs? One for each topic, and if possible with an example of the developer experience, and additional links (the ones above) to understand bits and bytes of your proposal.

Also note that some of the technologies you men

[2022-07-12 12:33] muyinatech opened #919 "AWS Powertools Tracing v1.12.2 contains vulnerable transitive dependencies"
The following vulnerable transitive dependencies haven been flagged by IntelliJ IDE for the [AWS Lambda Powertools Tracing Java library](https://awslabs.github.io/aws-lambda-powertools-java/) (see screenshot below):-
<img width="1182" alt="Screenshot 2022-07-12 at 11 21 26" src="https://user-images.githubusercontent.com/1609659/178489930-5e90e823-0568-4700-8a52-e5cb1287b827.png">

Please can you h

[2022-07-12 15:26] #919 closed, assigned to msailes

[2022-09-08 07:19] madeupname commented on #764
I'm not the OP, but I'm also struggling with this. Do you have an example that shows this working on GraalVM? Because just for log4j2, it does appear you need to add quite a bit to resource-config.json and reflect-config.json to get it to run without crashing.

I'm working on an example project specifically to showcase GraalVM/Lambda and my first step is to add logging. You can see the code here:

[2022-09-08 08:28] msailes commented on #764
We have someone looking at GraalVM support atm, could you include the config you have so far.

I think this is more likely a Log4J issue, but we'll add their config to our project in the meantime.

[2022-09-16 20:27] madeupname commented on #764
After further investigation, I'm giving up on Powertools in GraalVM. It looks great, but is coupled to Log4j 2 and they have said it does not and will not support GraalVM (maybe in Log4j 3): https://issues.apache.org/jira/browse/LOG4J2-2604

If you switch to a Graal-safe logging framework, I'm happy to try again.

I ended up using SLF4J and JUL. GraalVM and Lambda is surprisingly tricky for loggin

[2022-10-03 13:32] kozub opened #944 "RFC: bump aws-embedded-metrics from 1.0.6 to 4.0.1"
## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known: https://github.com/awslabs/aws-lambda-powertools-java/pull/943
* Area: (i.e. Tracer, Metrics, Logger, etc.) Metric
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): (Yes/no)

## Summary
[summary]: #summary

## Motivation
[motivation]: #motivation

I had a quick look on the issue that appeare

[2022-10-05 11:35] Wynndow opened #945 "Compilation warning when using powertools logging utility"
**What were you trying to accomplish?**

Compile a Java lambda using the Powertools logging utility without receiving compilation warnings.

## Expected Behavior
No compilation warning when compiling.

## Current Behavior
We introduced the powertools logging utility to our lambdas, compiled with Gradle. We're using the AspectJ Weaving Plugin to
bring in the package.
Now, when compiling the Java fo

[2022-10-21 07:04] jhuiting commented on #945
I'm also facing the same error locally, with 1.12.3.

[2022-10-25 09:38] chihebdaoues opened #959 "Parameter envelope is not taken in consideration in @Validation on requestHandler accepting SQSEvent"
My team is trying to use `aws-lambda-powertools' validation utility to validate request/response schemas on a couple of lambda functions we have and we noticed that the envelope parameter is not being taken in consideration when provided.

**What were you trying to accomplish?**
We have an SQS queue that subscribes to an SNS topic and a lambda function that subscribes to the SQS queue. Which I thi

[2022-10-25 12:32] jeromevdl commented on #959
Hi @chihebdaoues,

Thanks for noticing this. I agree, if the envelope is set, it should take precedence over the defaults.

[2022-10-28 16:28] n8m8 commented on #944
Work on this would be much appreciated, I'm running into these excessive socket error logs upon using `MetricsUtils.withSingleMetric` when running unit tests, which I've been suggested can be reduced by bumping `aws-embedded-metrics` to > 2.x.

[code]

[2022-10-28 17:08] markkuhn commented on #944
I would recommend using v4.0.3 instead as there is a [known bug](https://github.com/awslabs/aws-embedded-metrics-java/issues/127) in v4.0.1 which affects most users.

[2022-10-29 14:32] roamingthings opened #965 "RFC: Switch to logback, SLF4J and logstash as logging framework"
## Key information

* RFC PR:
* Related issue(s), if known:
* Area: Logger
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-java/#tenets): Yes

## Summary
[summary]: #summary

Switch to [logback](https://logback.qos.ch) [GitHub repository](https://github.com/qos-ch/logback), [SLF4J](http://www.slf4j.org) and [logstash](https://github.com/logfellow/logstash-logback-encoder) as loggin

[2022-11-04 12:16] jeromevdl commented on #965
Thanks for your RFC @roamingthings and the deep analysis. It definitely makes sense to get rid of log4j. The question I have and that I'd like to investigate is: do we actually need to have another implementation or could we provide the same level of service with just slf4j and let the users choose their implementation. Because some developers are using log4j anyway so adding logback (and potentia

[2022-11-04 14:51] roamingthings commented on #965
@jeromevdl I like your idea of only providing slf4j support and not forcing any framework to be used.
While writing this RFC this conclusion also came to my mind. So I would also prefer this option if it slf4j provides enough functionality required by the Logging Powertools. I could think of having documentation about how to integrate log4j, logback and/or logstash to support users.

[2022-11-04 15:17] jeromevdl commented on #944
This introduces breaking changes:
A simple `metricsLogger.putMetric(...)` now throws checked exception (`InvalidMetricException`).

This should be released in a v2 of lambda-powertools-metrics.

[2022-11-10 17:35] jeromevdl commented on #965
@pankajagrawal16 Hi Pankaj, I'm currently looking at this RFC and browsing our current logging module, I was not sure what `PowertoolsResolverFactory` and `PowertoolsResolver` are used for. Is it still useful, even with the `JsonTemplateLayout`?

[2022-11-10 17:45] pankajagrawal16 commented on #965
Hey @jeromevdl

Yeah its used for the layout config. Basically if you look at https://github.com/awslabs/aws-lambda-powertools-java/blob/master/powertools-logging/src/main/java/software/amazon/lambda/powertools/logging/internal/PowertoolsResolver.java

getname method in there with powertools is mapped as a resolver in

[2022-11-16 08:17] jeromevdl commented on #825
@Klosephi, any update on this?

[2022-11-16 08:18] jeromevdl commented on #797
@machafer, what's the status on this please?

[2022-11-16 08:20] jeromevdl commented on #764
@madeupname I'm currently working on it (#965). But will probably be in a v2 as it comes with breaking changes.

[2022-11-16 08:25] jeromevdl commented on #761
@Neuw84 Did you have a look at this? I'm interested to know what could be done here. As we already have moving stuff on metrics (#944) and logging (#965), that will cause breaking changes and imply a v2, maybe it's an opportunity to also look at the serialization fwk... But as mentioned by @pankajagrawal16, other libraries are importing jackson, so we would end up with more libraries in the end...

[2022-11-16 08:52] msailes commented on #761
Which other libraries are we thinking off?

The managed runtimes uses Jackson, but they change the package name of it, so I don't think we should consider that.

[2022-11-16 09:13] jeromevdl commented on #761
I thought the log4j json layout library was using jackson, but no. It's worth having a deeper analysis, but maybe I'm wrong... (would be great).

[2022-11-24 10:01] jeromevdl commented on #761
After analysis, several libraries are using jackson-databind:
- aws-java-sdk-core and jmespath-java, both used in x-ray (tracing module)
- aws-embedded-metrics (metrics module)

We could get rid of it and use something else in powertools but it would lead to an additional library then, and bigger jars, bigger cold starts...

[2022-11-26 14:29] humanzz opened #999 "metrics: Expose a MetricsUtils.withSingleMetric overload that doesn't require metric name/value/unit"
**Is your feature request related to a problem? Please describe.**

`MetricsUtils.withSingleMetric` - [MetricsUtils.java](https://github.com/awslabs/aws-lambda-powertools-java/blob/master/powertools-metrics/src/main/java/software/amazon/lambda/powertools/metrics/MetricsUtils.java) - provides a nice utility to hide the creation, configuration and publishing of metrics. The existing overloads howeve